<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<body>
<ui:composition>
    <div id="page-wrapper">
        <div class="container-fluid">
            <h2>Instituto de Previsión Social</h2>
            <div class="posicion">Aplicación de Ejemplo</div>
        </div>
    </div>
</ui:composition>
</body>
</html>


