<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
>
<head>

</head>
<body>
<ui:composition>
    <h:form>
        <div id="iconografia">
            <div class="posresponsive">
                <a id="menu-toggle2" href="#menu-toggle2"><span id="lefts" class="side"><span id="cambio" class="fa fa-angle-double-left"></span></span></a>
                <!-- inicio boton usuario -->
                <div class="btn-group icono">
                    <div class="mariotty user-section">
                        <a data-toggle="dropdown" class="center-block boton_icono">
                            <div class="icono nombre"><h:outputText  value="#{loginControllerView.username.toUpperCase()}"></h:outputText>
                            </div>
                            <span class="icono"><span class="fa fa-user"></span><!--<span class="fa fa-angle-down"></span>--></span>
                        </a>
                        <ul class="dropdown-menu" style="left: inherit;">
                            <li>
                                <h4>Mi cuenta</h4>
                            </li>
                            <li>
                                <div class="separadorcarga"></div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="fa fa-fw fa-cog"></div>
                                    Configuración de cuenta
                                </a>
                            </li>
                            <li>
                                <div class="separadorcarga"></div>
                            </li>
                            <li>

                                <h:commandLink action="#{loginControllerView.logout}">
                                    <div class="fa icon-cerrar-sesion"></div>
                                    <h:outputText value=" #{msg['general.label.logout']}"></h:outputText>
                                </h:commandLink>

                            </li>
                            <li>
                                <div class="separadorcarga"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>
</body>
</html>