<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
>
<h:head>
    <title><h:outputText value="#{msg['general.titulo.aplicacion']}"/></title>
    <meta name="title" content="#{msg['general.meta.title.aplicacion']}"/>
    <meta name="robots" content="noindex"/>
    <link rel="apple-touch-icon" sizes="57x57" href="#{request.contextPath}/resources/images/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="#{request.contextPath}/resources/images/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="#{request.contextPath}/resources/images/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="#{request.contextPath}/resources/images/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="#{request.contextPath}/resources/images/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="#{request.contextPath}/resources/images/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="#{request.contextPath}/resources/images/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="#{request.contextPath}/resources/images/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="#{request.contextPath}/resources/images/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="#{request.contextPath}/resources/images/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="#{request.contextPath}/resources/images/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="#{request.contextPath}/resources/images/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="#{request.contextPath}/resources/images/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="#{request.contextPath}/resources/images/favicon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="#{request.contextPath}/resources/images/favicon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <h:outputStylesheet library="css" name="style.css"  />
    <!-- Bootstrap Core CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap-submenu.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/sb-admin.css" rel="stylesheet"/>
    <!-- Morris Charts CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/morris.css" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/custom-gobierno.css" rel="stylesheet"/>
    <!-- CSS Admin Aporte -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/css.afp.css" rel="stylesheet" type="text/css"/>
    <!-- CSS Datetime piker -->
    <link rel="stylesheet"
          href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap-datetimepicker.min.css"/>

    <script async="" src="//www.google-analytics.com/analytics.js"/>

</h:head>

<h:body>
    <div id="page">
        <div id="header">
            <ui:insert name="header">
                <ui:include src="/template/common/header.xhtml"/>
            </ui:insert>
        </div>
        <div id="content">
            <div id="wrapper">
                <ui:insert name="menu">
                    <ui:include src="/template/common/menu.xhtml"/>
                </ui:insert>
                <ui:insert name="content">
                    <ui:include src="/template/common/content.xhtml"/>
                </ui:insert>
            </div>
        </div>
    </div>

    <f:metadata>
        <f:event type="preRenderView" listener="#{loginControllerView.validarUsuario}" />
    </f:metadata>

    <p:outputPanel id="panelErrors">
        <div id="errorMessage">
            <h:messages globalOnly="true"/>
        </div>
    </p:outputPanel>

    <div class="modal fade" id="myAlerts" style="z-index: 9999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">X</button>
                    <h2 class="modal-title">Mensajes del Sistema</h2>
                </div>
                <div class="modal-body">
                    <div class="barra-menu">
                        <p:outputPanel id="panelReasignar">
                            <h:panelGroup id="listadoErrores" layout="block"
                                          styleClass="alert alert-danger alert-dismissable">

                            </h:panelGroup>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Cerrar</button>
                            </div>
                        </p:outputPanel>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <h:form id="modalWaiting">
        <b:modal id="amodal4" title="#{msg['general.label.procesando']}" styleClass="modalBlockUI"
                 closable="false"  close-on-escape="false" backdrop="false" style="z-index: 9999;">
            <b:row>
                <b:column mediumScreen="5"></b:column>
                <b:column mediumScreen="3">
                    <p:graphicImage value="/resources/images/ajax-loader1.gif" height="40px" width="40px"/>
                </b:column>
            </b:row>
        </b:modal>
    </h:form>

</h:body>
<script async="" src="//www.google-analytics.com/analytics.js"/>

<f:facet name="first">
    <h:outputScript library="js" name="moment.js"/>
</f:facet>

<h:outputScript library="js" name="jquery.js"/>
<h:outputScript library="js" name="carga.js"/>
<h:outputScript library="js" name="scripts.js"/>
<h:outputScript library="js" name="jquery.Rut.min.js"/>
<h:outputScript library="js" name="select.js"/>
<h:outputScript library="js" name="bootstrap.min.js"/>
<h:outputScript library="js" name="bootstrap-submenu.min.js"/>
<h:outputScript library="js" name="jquery.accordion.js"/>
<h:outputScript library="js" name="funciones-tablas.js"/>
<h:outputScript library="js" name="id.js"/>
<h:outputScript library="js" name="bootstrap-datepicker.min.js"/>
<h:outputScript library="js" name="custom-exencion.js"/>

<script>
    function showErrorSistema() {
        var panelErrores = $('#listadoErrores');
        var mensajeError = $('#errorMessage');
        panelErrores.html(mensajeError.html().trim());
        mensajeError.html('');

        if(panelErrores.html() != '') {
            showMessages();
        }
    }

    function limpiarMensajesGenerales() {
        var mensajeError = $('#errorMessage');
        mensajeError.html('');
    }

    function showMessages(){
        $('#myAlerts').modal();
        $('#myAlerts').modal({ keyboard: false });
        $('#myAlerts').modal('show');
    }

    function formatoRut(id) {
        var rut = document.getElementById(id);
        rut.value = (rut.value).replace(/[^0-9|k|K]+/g, "");
        var sRut1 = rut.value; // contador de para saber cuando insertar el . o la
        // -
        var nPos = 0; // Guarda el rut invertido con los puntos y el guión
        // agregado
        var sInvertido = ""; // Guarda el resultado final del rut como debe ser
        var sRut = "";
        for (var i = sRut1.length - 1; i >= 0; i--) {
            sInvertido += sRut1.charAt(i);
            if (i == sRut1.length - 1)
                sInvertido += "-";
            else if (nPos == 3) {
                sInvertido += ".";
                nPos = 0;
            }
            nPos++;
        }
        for (var j = sInvertido.length - 1; j >= 0; j--) {
            if (sInvertido.charAt(sInvertido.length - 1) != ".")
                sRut += sInvertido.charAt(j);
            else if (j != sInvertido.length - 1)
                sRut += sInvertido.charAt(j);
        }
        // Pasamos al campo el valor formateado
        rut.value = sRut.toUpperCase();
    }


    $(document).keydown(function(e) {
        //prevenir seleccion de tecla 'Tab'
        if (e.keyCode == 9) {
            e.preventDefault();
        }

        //prevenir seleccion de tecla 'Enter'
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    });

</script>
</html>