<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:h="http://java.sun.com/jsf/html"
>
<body>

<ui:composition >
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" a:autocorrect="off">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<h1 class="logo_resp"><a href="w3-channel.html" title="Portal de Pagos IPS">Portal de Pagos</a></h1>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand franjagob " href="#">
				<div id="cf-gob"><span></span></div>
			</a>
		</div>
		<!-- Espacio especial para los iconos del menu superior -->
		<!-- Fin espacio para los iconos del menu superior-->
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class="menucontainer">
				<aside class="nav navbar-nav side-nav border-r" id="elmenu" role="data-accordion-group">
					<h1 class="logo" title="Exención Parcial de Salud" alt="Exención Parcial de Salud"><a href="#" >Exención Parcial de Salud</a></h1>
					<ul>
						<!--<li><a href="inbox.php?seccion=1" class=" active"><i class="fa fa-fw fa-inbox"></i><span class="notwiew"> Bandeja de entrada</span></a></li>-->
						<!-- Inicio primer item de menu -->
						<li role="data-accordion" class="colapsado">
							<button type="button" role="data-control" id="boton-menu1">
								<span class="fa icon-consultas-menu"></span><span
									class="notwiew"> Consultas e Informes</span>
							</button>
							<div id="menu1">
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd }">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/movimiento-por-run.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.movimiento.run']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/informe-de-gestion.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.informe.gestion']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/informe-del-universo.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.informe.universo']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/informe-del-universo-run.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.informe.universo.run']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/resumen-registros-archivos-entrada.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.informe.resumen.registros.archivos.entradas']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/informes/resultado-validacion-archivos.jsf?seccion=1">
											<h:outputText value="#{msg['menu.informes.resultado.validacion.archivos']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem">
											<h:outputLink value="#{request.contextPath}/informes/eventos-procesos-sistema.jsf?seccion=1">
												<h:outputText value="#{msg['menu.informes.eventos.proceso.sistema']}"></h:outputText>
											</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem">
											<h:outputLink value="#{request.contextPath}/informes/nominas-periodo.jsf?seccion=1">
												<h:outputText value="#{msg['menu.informes.nominas.periodo']}"></h:outputText>
											</h:outputLink>
										</li>
									</ul>
								</h:panelGroup>
							</div>
						</li>
						<!-- fin segundo item de menu -->
						<!-- Inicio tercer item de menu -->
						<li role="data-accordion" class="colapsado">
							<button type="button" role="data-control" id="boton-menu2">
								<span class="fa icon-procesos-menu"></span><span
									class="notwiew"> Procesos</span>
							</button>
							<div id="menu2">
								<h:panelGroup>
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/procesos/atencion-pensionado.jsf?seccion=2">
											<h:outputText
													value="#{msg['menu.procesos.atencion.pensionado']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilSistema}">
									<ul role="data-content">
										<li class="subitem"><a href="javascript://">Ajuste manual de la concesión</a></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem">
											<h:outputLink value="#{request.contextPath}/procesos/carga-selectiva-archivos.jsf?seccion=2">

												<h:outputText value="#{msg['menu.procesos.atencion.carga.selectiva-archivos']}"></h:outputText>
											</h:outputLink>
										</li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/procesos/nominas-instituciones.jsf?seccion=2">
											<h:outputText
													value="#{msg['menu.procesos.atencion.nominas.instituciones']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>


								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/procesos/cierre-periodo.jsf?seccion=2">
											<h:outputText
													value="#{msg['menu.procesos.cierre.periodo']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
							</div>
						</li>
						<!-- Fin tercer item de menu -->
						<!-- inicio cuarto item de menu -->
						<li role="data-accordion" class="colapsado">
							<button type="button" role="data-control" id="boton-menu3">
								<span class="fa icon-mantenedores-menu"></span><span
									class="notwiew"> <h:outputText
									value="#{msg['menu.mantenedor.titulo']}"></h:outputText></span>
							</button>
							<div id="menu3">
								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/mantenedores/ejecucion-del-proceso.jsf?seccion=3">
											<h:outputText
													value="#{msg['menu.mantenedor.ejecucion.proceso']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/mantenedores/institucion-pagadora.jsf?seccion=3">
											<h:outputText
													value="#{msg['menu.mantenedor.institucion.pagadora']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilNegocio or
                                         loginControllerView.perfilProd}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/mantenedores/mantenedor-calendario.jsf?seccion=3">
											<h:outputText value="#{msg['menu.mantenedor.calendario']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/mantenedores/responsable-por-grupo-archivo.jsf?seccion=3">
											<h:outputText
													value="#{msg['menu.mantenedor.responsable.archivos']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginControllerView.perfilGestion or
                                         loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/mantenedores/respuestas-al-pensionado.jsf?seccion=3">
											<h:outputText
													value="#{msg['menu.mantenedor.respuestas.pensionado']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
							</div>
						</li>

						<li role="data-accordion" class="colapsado">
							<button type="button" role="data-control" id="boton-menu4">
								<span class="fa icon-administracion-menu"></span><span
									class="notwiew"> Administración</span>
							</button>
							<div id="menu4">


								<h:panelGroup rendered="#{loginControllerView.perfilNegocio}">
									<ul role="data-content">
										<li class="subitem"><h:outputLink
												value="#{request.contextPath}/administracion/grupo-usuarios.jsf?seccion=4">
											<h:outputText
													value="#{msg['menu.administracion.grupo.usuarios']}"></h:outputText>
										</h:outputLink></li>
									</ul>
								</h:panelGroup>
							</div>
						</li>
					</ul>
				</aside>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

</ui:composition>
</body>
</html>