<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
        </ui:define>
    </ui:composition>
</h:body>
</html>