<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <h:outputStylesheet library="css" name="style.css"  />
    <!-- Bootstrap Core CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap-submenu.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/sb-admin.css" rel="stylesheet"/>
    <!-- Morris Charts CSS -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/morris.css" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/custom-gobierno.css" rel="stylesheet"/>
    <!-- CSS Admin Aporte -->
    <link href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/css.afp.css" rel="stylesheet" type="text/css"/>
    <!-- CSS Datetime piker -->
    <link rel="stylesheet"
          href="https://s3-sa-east-1.amazonaws.com/cdn.ips-admin/css/bootstrap-datetimepicker.min.css"/>

</h:head>
    <f:metadata>
        <f:viewParam name="auth" value="#{loginControllerView.identificador}" />
        <f:event type="preRenderView" listener="#{loginControllerView.init}"/>
    </f:metadata>
    <script async="" src="//www.google-analytics.com/analytics.js"/>

    <f:facet name="first">
        <h:outputScript library="js" name="moment.js"/>
    </f:facet>

    <h:outputScript library="js" name="jquery.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="bootstrap-submenu.min.js"/>
    <h:body id="login-body">
        <div id="login" class="well">
            <div id="cf-gob"><span></span></div>
            <h2 class="loginh1">Sistema de Exención Parcial de Salud</h2>
            <h:form id="loginForm">
                <b:row>
                    <span class="fa fa-user fa-form"></span>
                    <b:inputText class="form-control login" id="inputUsuario" value="#{loginControllerView.username}" maxlength="10" placeholder="Usuario"
                                 required="true" requiredMessage="Debe ingresar Usuario">
                    </b:inputText>
                    <br/>
                    <span class="fa fa-lock fa-form"></span>
                    <b:inputSecret class="form-control login" id="inputPassword" value="#{loginControllerView.password}" maxlength="10" placeholder="Contraseña"
                                 required="true" requiredMessage="Debe ingresar Contraseña">
                    </b:inputSecret>
                </b:row>

                <b:row>
                    <a href="javascript:void(0);" data-toggle="popover" data-placement="top" title="Recuperar Contraseña"
                       data-content="Para recuperar su contraseña, diríjase a la Mesa de Ayuda o llame al 600 600 600">¿Olvidó su contraseña?</a>

                    <h:commandButton onDblClick="disabled=true" styleClass="btn btn-success" iconAwesome="fa fa-search" style="margin-left: 35%;"
                                     id="btnIngreso" action="#{loginControllerView.login}"
                                     value="Ingresar">
                    </h:commandButton>
                </b:row>

                <b:row>
                    <b:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                </b:row>
            </h:form>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
                $('body').on('click', function (e) {
                    $('[data-toggle=popover]').each(function () {
                        // hide any open popovers when the anywhere else in the body is clicked
                        if (!$(this).is(e.target) &amp;&amp; $(this).has(e.target).length === 0 &amp;&amp; $('.popover').has(e.target).length === 0) {
                            $(this).popover('hide');
                        }
                    });
                });



            });
        </script>
    </h:body>
</html>