<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
>
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">

            <h:outputScript library="js" name="jquery.js" />
            <script type="text/javascript">var $j = jQuery.noConflict(true);</script>

            <script>
                function showNuevoGrupo() {
                    $('#modalnuevogrupo').modal()
                    $('#modalnuevogrupo').modal({
                        keyboard : false
                    })
                    $('#modalnuevogrupo').modal('show');
                    $('#paso1-modal-nuevogrupo').modal('show');
                    $('#nuevogrupo-paso2').modal('hide');
                }

                function showBlockUI() {
                    $('#paso1-modal-nuevogrupo').modal('hide');
                    $('#modal-nuevogrupo').modal('hide');
                    $('.modalPseudoClass4').modal('hide');
                    $('#modal-menuadmin-paso2').modal('hide');

                    $('#paso1-modal-menuadmin').modal('hide');
                    $('#modal-menuadmin-paso2').modal('hide');

                    $('#paso1-modal-useradmin').modal('hide');
                    $('#modal-useradmin-paso2').modal('hide');
                    $('#modal-useradmin-paso3').modal('hide');

                    $('#modal-agrega-usuario').modal('hide');


                    $('.modalBlockUI').modal();

                }
            </script>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText
                            value="#{msg['grupo.usuarios.titulo.pagina']}" /></h2>
                    <div class="posicion">Inicio/ Administración > Grupos de Usuarios</div>
                    <div class="formulario">
                        <h3>Agrega nuevo grupo o usuario</h3>
                        <h:form>
                            <b:commandButton type="button" onclick="showNuevoGrupo()">
                                <span class="fa fa-plus-circle"></span>
                                <h:outputText value=" #{msg['grupo.usuarios.label.agregar.grupo']}"/>
                            </b:commandButton>
                        </h:form>
                    </div>
                    <!-- cont-tabla1-->
                    <h:form id="tabla">
                        <div class="cont-tabla">
                        <div class="tabla table-responsive">
                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <b:dataTable id="tablaGrupos" value="#{grupoUsuariosView.listaGruposUsuarios}" var="grupoUsuariosTabla"
                                                 lang="es" responsive="true" select="false">
                                        <b:dataTableColumn value="#{grupoUsuariosTabla.gruUsuDescripcion}" header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="Grupos"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn header-style-class="titulos">
                                            <p:commandLink id="linkFunc"
                                                           action="#{grupoUsuariosView.listaFuncionesGrupos(grupoUsuariosTabla)}" update="formFunciones"
                                                           onclick="showBlockUI();" oncomplete="$('.modalBlockUI').modal('hide');showFuncionalidadAdmin()" >
                                                <h:outputText class="fa fa-bars"/> <h:outputText value=" #{msg['grupo.usuarios.label.funcionalidad']}"/>
                                            </p:commandLink>
                                            <f:facet name="header">
                                                <h:outputText value="Funcionalidad"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn header-style-class="titulos">
                                            <p:commandLink id="linkUsu"
                                                           action="#{grupoUsuariosView.listaUsuariosGrupos(grupoUsuariosTabla)}" update="formUsers"
                                                           onclick="showBlockUI();" oncomplete="$('.modalBlockUI').modal('hide');showUserAdmin()">
                                                <h:outputText class="fa fa-user"/> <h:outputText value=" #{msg['grupo.usuarios.label.usuarios']}"/>
                                            </p:commandLink>
                                            <f:facet name="header">
                                                <h:outputText value="Usuarios"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn header-style-class="titulos">
                                            <p:commandLink id="linkRemove" actionListener="#{grupoUsuariosView.grupoUsuariosEliminar(grupoUsuariosTabla)}" onclick="$('.modalPseudoClass4').modal()">
                                                <h:outputText class="fa fa-trash-o"/>
                                                <h:outputText value=" #{msg['grupo.usuarios.label.usuarios.delete']}"/>
                                            </p:commandLink>
                                            <f:facet name="header">
                                                <h:outputText value="Acciones"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                    </b:dataTable>

                                    <b:modal id="amodal2" title="Confirmación" styleClass="modalPseudoClass4" closable="false" backdrop="false" style="z-index: 9999;">
                                        <h:outputText class="fa fa-exclamation-triangle"/><h:outputText value=" ¿Está seguro que desea eliminar el grupo?"/>
                                        <f:facet name="footer">
                                            <b:commandButton class="btn btn-success" value="Eliminar" onclick="showBlockUI();">
                                                <f:ajax execute="@form" listener="#{grupoUsuariosView.eliminarGrupoUsuarios}" render=":panelErrors, tabla"/>
                                            </b:commandButton>
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                                        </f:facet>
                                    </b:modal>

                                    <b:modal id="amodal3" title="Confirmación" styleClass="modalPseudoClass3" closable="false" backdrop="false" style="z-index: 9999;" >
                                        <h:outputText class="fa fa-info"/><h:outputText id="ultimoGrupoEliminado" value=" Se ha eliminado el grupo #{grupoUsuariosView.grupoUsuariosDelete.gruUsuDescripcion} exitosamente."/>
                                        <f:facet name="footer">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </f:facet>
                                    </b:modal>

                                </div>
                            </div>
                        </div>
                            <!--/.cont-tabla2-->
                    </h:form>
                </div>
            </div>

            <!-- NO ELIMINAR, FUNCIONES LLAMADAS DESDE EL CONTROLADOR-->
            <script>
                function showFuncionalidadAdmin() {
                    $('#funcionalidad-admin').modal();
                    $('#funcionalidad-admin').modal({
                        keyboard : false
                    });
                    $('#modal-nuevogrupo').modal('hide');
                    $('#user-admin').modal('hide');
                    $('#funcionalidad-admin').modal('show');
                }
                function showVer() {
                    $('#nuevogrupo-paso2').modal();
                    $('#nuevogrupo-paso2').modal({
                        keyboard : false
                    });
                    $('#paso1-modal-nuevogrupo').modal('hide');
                    $('#nuevogrupo-paso2').modal('show');
                    $('.modal-body').show();
                    $('#nuevogrupo-paso2').css({
                        'visibility' : 'inherit'
                    });
                }


            </script>

            <h:form id="formNuevoGrupo">
                <!--/.container-fuild-->
                <div id="modalnuevogrupo" class="modal fade" style="z-index: 9999;" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Agregar grupo</h4>
                            </div>
                            <div class="tab-content" id="modal-nuevogrupo">
                                <div id="paso1-modal-nuevogrupo" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <label>Nombre del Grupo</label>
                                        <b:inputText value="#{grupoUsuariosView.grupoUsuariosCreate.gruUsuDescripcion}" placeholder="Ingrese Nombre nuevo grupo" maxlength="30"/>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="boton-modal pull-right">

                                            <b:commandButton type="button" class="btn btn-success" value="#{msg['general.boton.label.guardar']}"  onclick="showBlockUI();" >
                                                <f:ajax execute="@form" listener="#{grupoUsuariosView.doCrearGrupoUsuarios}" render=":panelErrors, ultimoGrupo, tabla"/>
                                            </b:commandButton>

                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="nuevogrupo-paso2" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>Se ha agregado el grupo <h:outputText id="ultimoGrupo" value="#{grupoUsuariosView.descripcionUltimoGrupo}"/> exitosamente.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

            <!-- NO ELIMINAR, FUNCIONES LLAMADAS DESDE EL CONTROLADOR-->


            <script>
                function showConfirmGrupo1() {
                    $('#modal-menuadmin-paso3').modal();
                    $('#modal-menuadmin-paso3').modal({
                        keyboard : false
                    });
                    $('#funcionalidad-admin').modal('show');
                    $('#paso1-modal-menuadmin').modal('hide');
                    $('#modal-menuadmin-paso2').modal('hide');
                    $('#modal-menuadmin-paso2').css({
                        'display' : 'none',
                        'visibility' : 'hidden'
                    });
                    $('.modalBlockUI').modal('hide');
                    $('#modal-menuadmin-paso3').modal('show');
                    $('#modal-menuadmin-paso3').css({
                        'visibility' : 'inherit'
                    });
                }
            </script>

            <h:form id="formFunciones">
                <div id="funcionalidad-admin" class="modal fade" style="z-index: 9999;" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Asignar Funcionalidad</h4>
                            </div>
                            <div class="tab-content" id="modal-menuadmin">
                                <div id="paso1-modal-menuadmin" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="modal-title">Grupo: <span class="asignar-admin-nombre"> <h:outputText value="#{grupoUsuariosView.grupoUsuarios.gruUsuDescripcion}"/> </span></h5>
                                            </div>
                                            <div class="col-md-5">
                                                <label>Funcionalidades por asignar</label>

                                                <p:pickList value="#{grupoUsuariosView.funcionalidades}" var="f"
                                                            itemValue="#{f}" itemLabel="#{f.funcDescripcion}" converter="funcionalidadesConverter" >
                                                    <p:ajax event="transfer" listener="#{grupoUsuariosView.onTransferFunctions}" />
                                                </p:pickList>

                                            </div>
                                            <div class="col-md-5">
                                                <label>Funcionalidades asignadas</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="boton-modal pull-right">
                                            <a aria-disabled="true" href="#modal-menuadmin-paso2" data-toggle="tab" class="btn btn-success">Guardar</a>
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-menuadmin-paso2" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>¿Desea modificar el menú para el grupo <h:outputText value="#{grupoUsuariosView.grupoUsuarios.gruUsuDescripcion}"/>? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <b:commandButton immediate="true" styleClass="btn btn-success" value="#{msg['general.boton.label.confirmar.guardar']}" onclick="showBlockUI();" oncomplete="showConfirmGrupo1()" >
                                                <f:ajax execute="@form" listener="#{grupoUsuariosView.moverFuncionesGrupo()}" render=":panelErrors"/>
                                            </b:commandButton>
                                            <a href="#paso1-modal-menuadmin" data-toggle="tab" class="btn btn-default">Atrás</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-menuadmin-paso3" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>Se han guardado los cambios del grupo exitosamente.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>

            <!-- NO ELIMINAR, FUNCIONES LLAMADAS DESDE EL CONTROLADOR-->


            <script>
                function showUserAdmin() {
                    $('#user-admin').modal();
                    $('#user-admin').modal({
                        keyboard : false
                    });
                    $('#modal-nuevogrupo').modal('hide');
                    $('#funcionalidad-admin').modal('hide');
                    $('#user-admin').modal('show');
                }

                function showConfirmGrupo2() {
                    $('#modal-useradmin-paso3').modal();
                    $('#modal-useradmin-paso3').modal({
                        keyboard : false
                    });
                    $('#user-admin').modal('show');
                    $('#paso1-modal-useradmin').modal('hide');
                    $('#modal-agrega-usuario').modal('hide');
                    $('#modal-useradmin-paso-agregar').modal('hide');
                    $('#modal-useradmin-paso2').modal('hide');
                    $('#modal-useradmin-paso2').css({
                        'display' : 'none',
                        'visibility' : 'hidden'
                    });
                    $('.modalBlockUI').modal('hide');
                    $('#modal-useradmin-paso3').modal('show');
                    $('#modal-useradmin-paso3').css({
                        'visibility' : 'inherit'
                    });
                }
                function showAgregarUsuPaso2() {
                    $('#modal-useradmin-paso-agregar').modal();
                    $('#modal-useradmin-paso-agregar').modal({
                        keyboard : false
                    });
                    $('#user-admin').modal('show');
                    $('#modal-agrega-usuario').modal('hide');
                    $('#modal-agrega-usuario').css({
                        'display' : 'none',
                        'visibility' : 'hidden'
                    });
                    $('#modal-useradmin-paso-agregar').modal('show');
                    $('#modal-useradmin-paso-agregar').css({
                        'visibility' : 'inherit'
                    });
                }
            </script>

            <h:form id="formUsers">
                <div id="user-admin" class="modal fade" style="z-index: 9999;" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Asignar Usuarios: <span class="asignar-admin-nombre"> <h:outputText value="#{grupoUsuariosView.grupoUsuarios.gruUsuDescripcion}"/> </span></h4>
                            </div>
                            <div class="tab-content" id="modal-useradmin">
                                <div id="paso1-modal-useradmin" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <a onclick="$('#modal-agrega-usuario').css({
                        'display' : 'initial'

                    });" href="#modal-agrega-usuario"  class="add small btn btn-default" data-toggle="tab"><span class="fa fa-plus-circle"></span> Agregar Usuario</a>
                                        <div class="row">

                                            <div class="col-md-5">
                                                <label>Usuarios no asignados</label>

                                                <p:pickList id="pickUsuarios"  value="#{grupoUsuariosView.usuarios}" var="us" itemValue="#{us}" itemLabel="#{us.usuNombre} #{us.usuApePat}" converter="usuariosConverter" >
                                                    <p:ajax event="transfer" listener="#{grupoUsuariosView.onTransferUsers}" />
                                                </p:pickList>
                                            </div>
                                            <div class="col-md-5">
                                                <label>Usuarios asignados</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="boton-modal pull-right">
                                            <a href="#modal-useradmin-paso2" data-toggle="tab" class="btn btn-success">Guardar</a>
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-useradmin-paso2" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>¿Desea modificar los usuarios para el grupo <h:outputText value="#{grupoUsuariosView.grupoUsuarios.gruUsuDescripcion}"/>? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <b:commandButton immediate="true" value="#{msg['general.boton.label.confirmar.guardar']}"
                                                             styleClass="btn btn-success" update="formUsers" onclick="showBlockUI();" oncomplete="showConfirmGrupo2();">
                                                <f:ajax execute="@form" listener="#{grupoUsuariosView.moverUsuariosGrupo()}" render=":panelErrors"/>
                                            </b:commandButton>

                                            <a href="#paso1-modal-useradmin" data-toggle="tab" class="btn btn-default">Atrás</a>

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-useradmin-paso3" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>Se han guardado los cambios del grupo exitosamente.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-agrega-usuario" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <label>Ingresa nombre usuario</label>
                                        <b:inputText class="form-control bf-no-message has-success" value="#{grupoUsuariosView.nombreUsuarioBuscar}" placeholder="Ingresa nombre nuevo usuario"/>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success" update="formUsers" onclick="showBlockUI();">
                                                <f:ajax execute="@form" listener="#{grupoUsuariosView.doCrearGrupoUsuarioUsuarios}" render=":panelErrors"/>
                                            </b:commandButton>
                                            <a href="#paso1-modal-useradmin" onclick="$('#modal-agrega-usuario').css({
                        'display' : 'none'

                    });" data-toggle="tab" class="btn btn-default">Atrás</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="modal-useradmin-paso-agregar" class="tab-pane" role="tabpanel">
                                    <div class="modal-body">
                                        <p>Se ha guardado el nuevo usuario exitosamente.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>