<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Eventos de los procesos del sistema</h2>
					<div class="posicion">Inicio/ Consultas e Informes > Eventos
						de los procesos del sistema</div>
					<h:form id="contenidoform">
						<div class="formulario">
							<b:row>
								<div class="col-md-6">
									<h3>Ingrese periodo para realizar la consulta:</h3>
								</div>
							</b:row>
							<hr/>
							<b:row>
								<div class="col-md-4 requiredBlock">
									<label> <h:outputText
											value="#{msg['informe.gestion.tabla.columna.periodo']}" />
									</label>
									<b:dateTimePicker id="datePeriodo" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
										styleClass="#{component.valid?'':'inputInvalid'}"
										format="YYYY/MMMM" required="true"
										requiredMessage="Debe ingresar un periodo"
										value="#{eventosProcesosSistemaView.periodo}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
									<h:message id="datePeriodoError" for="datePeriodo"
										style="color: red" />
								</div>
							</b:row>
							<b:row>
								<div class="col-md-12">
									<div class="pull-right botones">

										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{eventosProcesosSistemaView.buscar()}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{eventosProcesosSistemaView.limpiar()}"  />

									</div>
								</div>
							</b:row>
						</div>

						<!-- Tabla de resultados  -->
						<h:panelGroup id="tabla_resultado" rendered="#{eventosProcesosSistemaView.mostrarGrilla}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
										value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{eventosProcesosSistemaView.obtenerExcel()}" />

								</div>
								<div class="tabla table-responsive">
									<div id="table_wrapper"
										class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable id="dataTableProcesos" value="#{eventosProcesosSistemaView.respuestaGrilla}"
											var="registro" lang="es" responsive="true" select="false">
											<!-- columnas -->
											<b:dataTableColumn value="#{registro.fecha}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.fechahora']}" />
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.descripcion}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.descripcion']}" />
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.responsables}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.responsables']}" />
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.tipoEvento}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.tipoevento']}" />
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.destinatarioNotificacion}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.destinatarionotifica']}" />
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.estadoNotificacion}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['informe.eventos.procesos.sistema.tabla.columna.estadonotifica']}" />
												</f:facet>
											</b:dataTableColumn>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
					</h:form>

				</div>
				<!--/.container-fuild-->
				<script type="text/javascript">
					function showExportar() {
						$('#confirmacionExportar').modal()
						$('#confirmacionExportar').modal({
							keyboard : false
						})
						$('#confirmacionExportar').modal('show')
					}
				</script>

				<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									#{msg['general.label.exportar.excel.texto']}
									<div class="modal-footer">
										<h:form>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
										</h:form>
									</div>
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
