<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Generar Informe del Universo por RUN</h2>
					<div class="posicion">Inicio/ Consultas e Informes > Informe
						del Universo por RUN</div>
					<h:form id="contenidoform">
						<div class="formulario">
							<div class="row">
								<div class="col-md-6">
									<h3>Ingrese el RUN y periodo para realizar la consulta:</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4 requiredBlock">
									<label> <h:outputText
											value="#{msg['informe.movimiento.run.run']}" />
									</label>
									<h:inputText id="inputRutTest"
												 placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
												 value="#{informeUniversoRunView.rut}"
												 onblur="formatoRut('inputRutTest')" maxlength="12"
												 required="true"
												 styleClass="form-control ingresarRun #{component.valid?'':'inputInvalid'}"
												 requiredMessage="Debe ingresar un Rut">
										<f:validator validatorId="cl.gob.ips.exencion.common.validator.RutValidator" />
									</h:inputText>
									<h:message id="inputRutTestError" for="inputRutTest"
											   style="color: red" />
								</div>
								<div class="col-md-4 requiredBlock">
									<label><h:outputText
											value="#{msg['informe.gestion.periodoDesde']}" /></label>
									<b:dateTimePicker id="datePeriodoDesde" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
													  styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true"
													  requiredMessage="Debe ingresar un periodo"
													  value="#{informeUniversoRunView.periodoDesde}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
									<h:message id="datePeriodoDesdeError" for="datePeriodoDesde" style="color: red" />
								</div>
								<div class="col-md-4 requiredBlock">
									<label><h:outputText
											value="#{msg['informe.gestion.periodoHasta']}" /></label>
									<b:dateTimePicker id="datePeriodoHasta" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
													  styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true"
													  requiredMessage="Debe ingresar un periodo"
													  value="#{informeUniversoRunView.periodoHasta}" onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
									<h:message id="datePeriodoHastaError" for="datePeriodoHasta" style="color: red" />
								</div>

								<div class="col-md-12 requiredBlock">
									<div class="pull-right botones">
										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{informeUniversoRunView.buscar}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{informeUniversoRunView.limpiar}"  />

									</div>
								</div>

							</div>

						</div>
						<!-- Tabla de resultados  -->
						<h:panelGroup id="tabla_resultado" rendered="#{informeUniversoRunView.mostrarGrilla}">
							<div class="cont-tabla">
								<div>
									<strong><h:outputText value="#{msg['informe.universo.nombre.beneficiario']}"/> : </strong>
									<h:outputText value="#{informeUniversoRunView.nombreCompleto}"/>
								</div>
								<h4><h:outputText value="#{msg['informe.universo.run.tabla.resultados.titulo']}"/></h4>
								<div class="pull-right">

									<b:commandButton styleClass="btn btn-success" value="#{msg['general.label.movimientos.run.redirect']}"
													 action="#{informeUniversoRunView.redirectConsultarMovimientos}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{informeUniversoRunView.obtenerExcelGeneral()}" />

								</div>
								<div class="tabla table-responsive">
									<div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{informeUniversoRunView.respuestaGrilla}" var="registro"
													 lang="es"
													 responsive="true" select="false">
											<!-- columnas -->
											<b:dataTableColumn value="#{registro.periodo}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.periodo']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.edad}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.edad']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.pfp}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.pfp']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.tipoPfp}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.tipopfp']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.fechaPfp}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.fechapfp']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.residencia}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.residencia']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.fechaResidencia}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.fecharesidencia']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.tipoPensionado}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.movimiento.run.tabla.columna.tipopensionado']}"/>
												</f:facet>
											</b:dataTableColumn>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
					</h:form>
				</div>

				<script type="text/javascript">
					function showExportar() {
						$('#confirmacionExportar').modal()
						$('#confirmacionExportar').modal({
							keyboard : false
						})
						$('#confirmacionExportar').modal('show')
					}
				</script>

				<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									#{msg['general.label.exportar.excel.texto']}
									<div class="modal-footer">
										<h:form>
											<button type="button" class="btn btn-default"
													data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
										</h:form>
									</div>
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!--/.container-fuild-->
			</div>
			<!-- /#page-wrapper -->
		</ui:define>
	</ui:composition>
</h:body>
</html>





