<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <script type="text/javascript">
                function showExportar() {
                    $('#confirmacionExportar').modal()
                    $('#confirmacionExportar').modal({
                        keyboard : false
                    })
                    $('#confirmacionExportar').modal('show')
                }
            </script>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2>Generar Informe de Gestión</h2>
                    <div class="posicion">Inicio/ Consultas e Informes > Generar
                        Informe de Gestión</div>
                    <h:form id="contenidoform">
                        <div class="formulario">
                            <b:row>
                                <div class="col-md-6">
                                    <h3>Ingrese las opciones  y periodo para realizar la
                                        consulta:</h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-3 requiredBlock">
                                    <label> <h:outputText
                                            value="#{msg['informe.gestion.tipoPeriodo']}" />
                                    </label>
                                    <b:selectOneMenu id="tipoPeriodo" value="#{informeGestionView.codTipoPeriodo}" styleClass="#{component.valid?'':'inputInvalid'}"
                                                     required="true" requiredMessage="Debe seleccionar una nomina">
                                        <f:selectItems value="#{informeGestionView.tipoPeriodo}" var="t" itemValue="#{t.codigo}" itemLabel="#{t.descripcion}" />
                                        <f:ajax event="change" listener="#{informeGestionView.changeTipoPeriodo(informeGestionView.codTipoPeriodo)}" />
                                    </b:selectOneMenu>
                                    <h:message id="tipoPeriodoError" for="tipoPeriodo" style="color: red"/>
                                </div>
                                <div class="col-md-3 requiredBlock">
                                    <label>
                                        <h:outputText value="#{msg['informe.gestion.presentado']}" />
                                    </label>
                                    <b:selectOneMenu id="presentadoPor" value="#{informeGestionView.codPresentadoPor}" styleClass="#{component.valid?'':'inputInvalid'}"
                                                     required="true" requiredMessage="Debe seleccionar una nomina">
                                        <f:selectItems value="#{informeGestionView.presentadoPor}" var="p" itemValue="#{p.codigo}" itemLabel="#{p.descripcion}" />
                                        <f:ajax event="change" listener="#{informeGestionView.changePresentadoPor(informeGestionView.codPresentadoPor)}" />
                                    </b:selectOneMenu>
                                    <h:message id="presentadoPorError" for="presentadoPor" style="color: red"/>
                                </div>

                                <div class="col-md-3 requiredBlock">
                                    <label>
                                        <h:outputText value="#{msg['informe.gestion.periodoDesde']}" />
                                    </label>
                                    <b:dateTimePicker id="datePeriodoDesde" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
                                                      styleClass="#{component.valid?'':'inputInvalid'}"
                                                      format="YYYY/MMMM" required="true"
                                                      requiredMessage="Debe ingresar un periodo"
                                                      value="#{informeGestionView.periodoDesde}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
                                    <h:message id="datePeriodoDesdeError" for="datePeriodoDesde" style="color: red" />
                                </div>
                                <div class="col-md-3 requiredBlock">
                                    <label>
                                        <h:outputText value="#{msg['informe.gestion.periodoHasta']}" />
                                    </label>
                                    <b:dateTimePicker id="datePeriodoHasta" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
                                                      styleClass="#{component.valid?'':'inputInvalid'}"
                                                      format="YYYY/MMMM" required="true"
                                                      requiredMessage="Debe ingresar un periodo"
                                                      value="#{informeGestionView.periodoHasta}" onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
                                    <h:message id="datePeriodoHastaError" for="datePeriodoHasta" style="color: red" />
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-12">
                                    <div class="pull-right botones">

                                        <b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
                                                         action="#{informeGestionView.buscar}" />

                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
                                                         style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{informeGestionView.limpiar()}"  />

                                    </div>
                                </div>
                            </b:row>
                        </div>
                        <!-- Tabla de resultados  -->
                        <h:panelGroup id="tabla_resultado" rendered="#{informeGestionView.mostrarGrilla}">
                            <!--result-->
                            <div class="cont-tabla">
                                <h4><h:outputText value="#{msg['informe.gestion.tabla.resultados.titulo']}"/></h4>
                                <div class="pull-right">
                                    <b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
                                                     action="#{informeGestionView.obtenerExcelGeneral()}" />

                                </div>
                                <div class="tabla table-responsive">
                                    <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                        <b:dataTable value="#{informeGestionView.respuestaGrilla}" var="registro"
                                                     lang="es"
                                                     responsive="true" select="false">
                                            <!-- columnas -->
                                            <b:dataTableColumn value="#{registro.periodo}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn
                                                    value="#{registro.ips}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.ips']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.isl}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.isl']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.bph}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.bph']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.totalInternos}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.totalInternos']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.afp}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.afp']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.csv}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.csv']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.mutual}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.mutual']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.totalExternos}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.totalExternos']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.total}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.total']}"/>
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.nuevos']}"/>
                                                </f:facet>
                                                <p:commandLink
                                                               actionListener="#{informeGestionView.cargarNuevos(registro.periodo)}"
                                                               onclick="showNuevos();" value="#{registro.nuevos}">
                                                </p:commandLink>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.extinciones']}"/>
                                                </f:facet>
                                                <p:commandLink
                                                               actionListener="#{informeGestionView.cargarExtinciones(registro.periodo)}"
                                                               oncomplete="showExtinciones();" value="#{registro.extinciones}">
                                                </p:commandLink>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['informe.gestion.tabla.columna.mantienen']}"/>
                                                </f:facet>
                                                <p:commandLink
                                                               actionListener="#{informeGestionView.cargarMantienen(registro.periodo)}"
                                                               onclick="showMantienen();" value="#{registro.mantienen}">
                                                </p:commandLink>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText value="#{msg['general.boton.label.acciones']}"/>
                                                </f:facet>
                                                <p:commandLink update="panelVer"
                                                               actionListener="#{informeGestionView.cargarVer(registro.periodo)}"
                                                               onclick="showVer();" value="#{msg['general.boton.label.ver']}">
                                                </p:commandLink>
                                            </b:dataTableColumn>
                                        </b:dataTable>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                    </h:form>
                </div>

                <script>
                    function showNuevos() {
                        $('#nuevos').modal();
                        $('#nuevos').modal({
                            keyboard : false
                        });
                        $('#ver').modal('hide');
                        $('#nuevos').modal('show');
                    }
                </script>

                <div class="modal fade" id="nuevos" style="z-index: 9999;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
                                <h2 class="modal-title">Nuevos Beneficiarios - RUN únicos</h2>
                            </div>
                            <div class="modal-body">
                                <div class="barra-menu">
                                    <h:panelGrid id="panelNuevos">
                                        <label>
                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}" />
                                        </label>

                                        <div class="pull-right">
                                            <h:form>
                                                <b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
                                                                 action="#{informeGestionView.obtenerExcelNuevos()}" />


                                            </h:form>
                                        </div>
                                        <div class="tabla table-responsive">
                                            <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <b:dataTable value="#{informeGestionView.respuestaGrillaNuevosDTO}" var="registro"
                                                             lang="es"
                                                             responsive="true" select="false">
                                                    <b:dataTableColumn value="#{registro.run}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.run']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.nombre}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.nombre']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.apellidoPaterno}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.apaterno']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.apellidoMaterno}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.amaterno']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.tipoPensionado}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.tipopensionado']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.institucion}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.institucion']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </h:panelGrid>

                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <script>
                    function showExtinciones() {
                        $('#extinciones').modal();
                        $('#extinciones').modal({
                            keyboard : false
                        });
                        $('#ver').modal('hide');
                        $('#extinciones').modal('show');
                    }
                </script>

                <h:form id="formExti">
                    <div class="modal fade" id="extinciones" style="z-index: 9999;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">X</button>
                                    <h2 class="modal-title">Pensionados que extinguen el beneficio - Run (únicos)</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="barra-menu">
                                        <h:panelGrid id="panelExtinciones">
                                            <label>
                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}"  />
                                            </label>

                                            <div class="pull-right">
                                                    <b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
                                                                     action="#{informeGestionView.obtenerExcelExtinciones()}" />

                                            </div>
                                            <div class="tabla table-responsive">
                                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                    <b:dataTable
                                                            value="#{informeGestionView.respuestaGrillaExtincionesDTO}"
                                                            var="dtogestion" lang="es" responsive="true" select="false">
                                                        <b:dataTableColumn value="#{dtogestion.run}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.run']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                        <b:dataTableColumn value="#{dtogestion.nombre}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.nombre']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                        <b:dataTableColumn value="#{dtogestion.apellidoPaterno}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.apaterno']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                        <b:dataTableColumn value="#{dtogestion.apellidoMaterno}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.amaterno']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                        <b:dataTableColumn value="#{dtogestion.tipoPensionado}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.tipopensionado']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                        <b:dataTableColumn value="#{dtogestion.institucion}"
                                                                           header-style-class="titulos">
                                                            <f:facet name="header">
                                                                <h:outputText
                                                                        value="#{msg['informe.gestion.tabla.columna.institucion']}" />
                                                            </f:facet>
                                                        </b:dataTableColumn>
                                                    </b:dataTable>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </h:panelGrid>

                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </h:form>


                <script>
                    function showMantienen() {
                        $('#mantienen').modal();
                        $('#mantienen').modal({
                            keyboard : false
                        });
                        $('#ver').modal('hide');
                        $('#mantienen').modal('show');
                    }
                </script>

                <div class="modal fade" id="mantienen" style="z-index: 9999;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
                                <h2 class="modal-title">Pensionados que mantienen el beneficio - Run (únicos)</h2>
                            </div>
                            <div class="modal-body">
                                <div class="barra-menu">
                                    <h:panelGrid id="panelMantienen">
                                        <label>
                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}" />
                                        </label>

                                        <div class="pull-right">
                                            <h:form>
                                                <b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
                                                                 action="#{informeGestionView.obtenerExcelMantienen()}" />

                                            </h:form>
                                        </div>
                                        <div class="tabla table-responsive">
                                            <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <b:dataTable value="#{informeGestionView.respuestaGrillaMantienenDTO}" var="registro"
                                                             lang="es"
                                                             responsive="true" select="false">
                                                    <b:dataTableColumn value="#{registro.run}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.run']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.nombre}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.nombre']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.apellidoPaterno}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.apaterno']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.apellidoMaterno}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.amaterno']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.tipoPensionado}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.tipopensionado']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.institucion}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.institucion']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </h:panelGrid>

                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <script>
                    function showVer() {
                        $('#ver').modal();
                        $('#ver').modal({
                            keyboard : false
                        });
                        $('#ver').modal('show');
                    }
                </script>

                <div class="modal fade" id="ver" style="z-index: 9999;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
                                <h2 class="modal-title">Informe de Gestión - Detalle Institución</h2>
                            </div>
                            <div class="modal-body">
                                <div class="barra-menu">
                                    <h:panelGrid id="panelVer">
                                        <label>
                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}" />
                                        </label>

                                        <div class="pull-right">
                                            <h:form>
                                                <b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
                                                                 action="#{informeGestionView.obtenerExcelVer()}" />
                                            </h:form>
                                        </div>

                                        <div class="tabla table-responsive">
                                            <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <b:dataTable value="#{informeGestionView.respuestaGrillaVer}" var="registro"
                                                             lang="es"
                                                             responsive="true" select="false">
                                                    <b:dataTableColumn value="#{registro.institucion}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.institucion']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.tipoEntidad}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['institucion.tabla.columna.tipoentidad']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn value="#{registro.total}" header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.total']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.nuevos']}"/>
                                                        </f:facet>
                                                        <p:commandLink actionListener="#{informeGestionView.cargarNuevosPorInstitucion(registro.tipoEntidad)}"
                                                                       onclick="showNuevos();" value="#{registro.nuevos}">
                                                        </p:commandLink>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.extinciones']}"/>
                                                        </f:facet>

                                                        <p:commandLink value="Extin"
                                                        action="#{informeGestionView.cargarExtinciones(registro.periodo)}" update="formExti"
                                                        oncomplete="showExtinciones()" >
                                                    </p:commandLink>

                                                        <!--<p:commandLink actionListener="#{informeGestionView.cargarExtinciones}"-->
                                                                       <!--oncomplete="showExtinciones()" value="#{registro.extinciones}">-->
                                                        <!--</p:commandLink>-->
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['informe.gestion.tabla.columna.mantienen']}"/>
                                                        </f:facet>
                                                        <p:commandLink actionListener="#{informeGestionView.cargarMantienen}"
                                                                       onclick="showMantienen();" value="#{registro.mantienen}">
                                                        </p:commandLink>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </h:panelGrid>

                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
                                <h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
                            </div>
                            <div class="modal-body">
                                <div class="barra-menu">
                                    #{msg['general.label.exportar.excel.texto']}
                                    <div class="modal-footer">
                                        <h:form>
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
            <!-- /#page-wrapper -->
        </ui:define>
    </ui:composition>
</h:body>
</html>
