<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Generar Informe del Universo</h2>
					<div class="posicion">Inicio/ Consultas e Informes > Generar
						Informe del Universo</div>
					<h:form id="formulario_informe_universo">
						<div class="formulario">
							<b:row>
								<div class="col-md-6">
									<h3>Ingrese las opciones y periodo para realizar la
										consulta:</h3>
								</div>
							</b:row>
							<hr/>
							<b:row>
								<div class="col-md-4 requiredBlock">
									<label><h:outputText
											value="#{msg['informe.gestion.periodoDesde']}" /></label>
									<b:dateTimePicker id="datePeriodoDesde" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
										styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true"
										requiredMessage="Debe ingresar un periodo"
										value="#{informeUniversoView.periodoDesde}" onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
									<h:message id="datePeriodoDesdeError" for="datePeriodoDesde" style="color: red" />
								</div>
								<div class="col-md-4 requiredBlock">
									<label><h:outputText
											value="#{msg['informe.gestion.periodoHasta']}" /></label>
									<b:dateTimePicker id="datePeriodoHasta" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
										styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true"
										requiredMessage="Debe ingresar un periodo"
										value="#{informeUniversoView.periodoHasta}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
									<h:message id="datePeriodoHastaError" for="datePeriodoHasta" style="color: red" />
								</div>

								<div class="col-md-4 requiredBlock">
									<div class="pull-right botones">

										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{informeUniversoView.buscar}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="formulario_informe_universo" process="@this" actionListener="#{informeUniversoView.limpiar()}"  />

									</div>
								</div>
							</b:row>
						</div>
						<!-- Tabla de resultados  -->
						<h:panelGroup id="tabla_resultado" rendered="#{informeUniversoView.mostrarGrilla}">
	                        <div class="cont-tabla">
	                            <h4><h:outputText value="#{msg['informe.universo.tabla.resultados.titulo']}"/></h4>
	                            <div class="pull-right">
									<b:commandButton id="botonConsultarRun" action="#{informeUniversoView.redirectUniversoRun}"
										styleClass="btn btn-success" ajax="true"
										value="#{msg['general.boton.label.consultar.run']}" />
									<h:commandLink value="#{msg['general.boton.label.exportar']}"
										styleClass="btn btn-success pull-right"
										actionListener="#{informeUniversoView.obtenerExcelGeneral()}"
										onclick="showExportar();">
									</h:commandLink>
								</div>
	                            <div class="tabla table-responsive">
	                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
	                                    <b:dataTable value="#{informeUniversoView.respuestaGrilla}" var="registro"
	                                                 lang="es"
	                                                 responsive="true" select="false">
	                                        <b:dataTableColumn value="#{registro.periodo}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn
	                                                value="#{registro.vivos}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.universo.tabla.columna.vivos']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn value="#{registro.sinSps}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.sinIps']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn value="#{registro.sinRsh}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.sinRsh']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn value="#{registro.sinFocalizacion}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.sinFocalizacion']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn value="#{registro.sinResidencia}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.sinResidencia']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
	                                        <b:dataTableColumn value="#{registro.cumplenRequisitos}" header-style-class="titulos">
	                                            <f:facet name="header">
	                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.cumplenRequisitos']}"/>
	                                            </f:facet>
	                                        </b:dataTableColumn>
											<b:dataTableColumn header-style-class="titulos">
												<f:facet name="header">
													<h:outputText
														value="#{msg['general.boton.label.acciones']}" />
												</f:facet>
												<h:commandLink action="#{informeUniversoView.exportarDirecto(registro.periodo)}"
                                                               onclick="showExportaraDisco();">
                                                    <h:outputText value="#{msg['general.boton.label.exportar']}" />
                                                </h:commandLink>


											</b:dataTableColumn>
										</b:dataTable>
	                                </div>
	                            </div>
	                        </div>
	                    </h:panelGroup>
                    </h:form>
				</div>
				
				<script>
					function showVer() {
						$('#ver').modal({
							keyboard : false
						}).show()
					}
				</script>

				<div class="modal fade" id="ver" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['informe.gestion.tabla.accion.ver.modal']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									<h:panelGrid id="panelVer">
										<label> 
											<h:outputText value="#{msg['informe.gestion.tabla.columna.periodoconcesion']}" />
										</label>
									
										<div class="pull-right">
											<h:form>
												<h:commandButton
													value="#{msg['general.boton.label.exportar']}"
													styleClass="btn btn-success pull-right"
													actionListener="#{informeUniversoView.obtenerExcelVer}"
													onclick="showExportar();">
												</h:commandButton>
											</h:form>
										</div>
										<div class="tabla table-responsive">
			                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
			                                    <b:dataTable value="#{informeUniversoView.respuestaGrillaVer}" var="registro"
			                                                 lang="es"
			                                                 responsive="true" select="false">
			                                        <b:dataTableColumn value="#{registro.run}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.run']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.nombre}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.nombre']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.apellidoPaterno}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.apaterno']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.apellidoMaterno}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.amaterno']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.vivo}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.universo.tabla.columna.vivos']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.rsh}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.rsh']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.focalizacion}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.focalizacion']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.residencia}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.residencia']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                        <b:dataTableColumn value="#{registro.cumpleRequisitos}" header-style-class="titulos">
			                                            <f:facet name="header">
			                                                <h:outputText value="#{msg['informe.gestion.tabla.columna.cumplerequisitos']}"/>
			                                            </f:facet>
			                                        </b:dataTableColumn>
			                                    </b:dataTable>
			                                </div>
			                            </div>
										
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
										</div>
									</h:panelGrid>

								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>

				<script type="text/javascript">
					function showExportar() {
						$('#confirmacionExportar').modal({
                            backdrop: 'static',
							keyboard : false
						}).show()
					}

					function showExportaraDisco() {
					    $('#confirmacionExportaraDisco').modal({
							backdrop: 'static',
							keyboard: false
						}).show()

                    }

					function cerrarModal(){
                        $('#confirmacionExportar').modal('toggle')
                        console.log('modal exportar cerrado')
                    }


				</script>

				<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									#{msg['general.label.exportar.excel.texto']}
                                    <b:row>
                                        <b:column mediumScreen="5"></b:column>
                                        <b:column mediumScreen="3">
                                            <p:graphicImage value="/resources/images/ajax-loader1.gif" height="40px" width="40px"/>
                                        </b:column>
                                    </b:row>
									<div class="modal-footer">
										<h:form>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
										</h:form>
									</div>
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>

				<div class="modal fade" id="confirmacionExportaraDisco" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									#{msg['general.label.exportar.excel.a.disco.texto']}
									<div class="modal-footer">
										<h:form>
											<button type="button" class="btn btn-default"
													data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
										</h:form>
									</div>
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
			</div>
			<!-- /#page-wrapper -->
		</ui:define>
	</ui:composition>
</h:body>
</html>
