<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<script type="text/javascript">

				function showExportar(){
					$('#confirmacionExportar').modal()
					$('#confirmacionExportar').modal({ keyboard: false })
					$('#confirmacionExportar').modal('show')
				}

			</script>
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Consultar Movimientos por RUN</h2>
					<div class="posicion">Inicio/ Consultas e Informes >
						Movimientos por RUN</div>
					<h:form id="contenidoform" prependId="false">
						<div class="formulario">
							<b:row>
								<div class="col-md-6">
									<h3>Ingrese RUN y periodo para realizar la consulta:</h3>
								</div>
							</b:row>
							<hr/>
							<b:row>
								<div class="col-md-4 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.movimiento.run.run']}"/>
									</label>
									<h:inputText id="inputRutTest" placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
												 value="#{movimientosRunView.rut}" onblur="formatoRut('inputRutTest')" maxlength="12"
												 required="true" styleClass="form-control ingresarRun #{component.valid?'':'inputInvalid'}" requiredMessage="Debe ingresar un Rut">
										<f:validator validatorId="cl.gob.ips.exencion.common.validator.RutValidator"/>
									</h:inputText>
									<h:message id="inputRutTestError" for="inputRutTest" style="color: red"/>
								</div>
								<div class="col-md-4 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.movimiento.run.periodo.desde']}"/>
									</label>
									<b:dateTimePicker id="datePeriodoDesde" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
													  styleClass="#{component.valid?'':'inputInvalid'}" format="YYYY/MMMM" required="true"
													  requiredMessage="Debe ingresar un periodo" value="#{movimientosRunView.periodoDesde}"
													  onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
									<h:message id="datePeriodoDesdeError" for="datePeriodoDesde" style="color: red"/>
								</div>
								<div class="col-md-4 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.movimiento.run.periodo.hasta']}"/>
									</label>
									<b:dateTimePicker id="datePeriodoHasta" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
													  styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true" requiredMessage="Debe ingresar un periodo" value="#{movimientosRunView.periodoHasta}" onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
									<h:message id="datePeriodoHastaError" for="datePeriodoHasta" style="color: red"/>
								</div>
							</b:row>
							<b:row>
								<div class="col-md-12">
									<div class="pull-right botones">

										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{movimientosRunView.buscarMovimientos()}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{movimientosRunView.limpiar()}"  />

									</div>
								</div>
							</b:row>
						</div>

						<h:panelGroup rendered="#{movimientosRunView.mostrarGrilla}">
							<div class="cont-tabla">
								<p>
									<strong>Nombre de beneficiario:</strong>
									#{movimientosRunView.respuestaGrilla[0].nombreCompleto}
								</p>
								<h4>Movimientos</h4>
								<div class="pull-right">

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{movimientosRunView.obtenerExcel()}" />

									<b:commandButton styleClass="btn btn-success" value="#{msg['general.label.universo.run.redirect']}"
													 action="#{movimientosRunView.redirectUniversoRun}" />

								</div>
								<div class="tabla table-responsive">
									<b:dataTable value="#{movimientosRunView.respuestaGrilla}"
												 var="rg" lang="es" responsive="true" select="false">
										<!-- columnas -->
										<b:dataTableColumn value="#{rg.periodo}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.periodo']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.movimiento}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.movimiento']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.fechaDevengamiento}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.fecha.deven']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.pfp}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.pfp']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.fechaPfp}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.fecha.pfp']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.residencia}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.residencia']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.fechaResidencia}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.fecha.resi']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.institucionesInformadas}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.instituciones']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.potencialAps}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.aps']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.causalExtincion}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.extincion']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{rg.requisitosNoAcreditados}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['informe.movimiento.run.tabla.requisitos']}" />
											</f:facet>
										</b:dataTableColumn>
									</b:dataTable>
								</div>
							</div>
						</h:panelGroup>
					</h:form>
				</div>
				<!--/.container-fuild-->
			</div>
			<!-- /#page-wrapper -->

			<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
							<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
						</div>
						<div class="modal-body">
							<div class="barra-menu">
								#{msg['general.label.exportar.excel.texto']}
								<div class="modal-footer">
									<h:form>
										<button type="button" class="btn btn-default"
												data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
									</h:form>
								</div>
							</div>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
