<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">

			<script type="text/javascript">
				function showExportar() {
					$('#confirmacionExportar').modal()
					$('#confirmacionExportar').modal({
						keyboard : false
					})
					$('#confirmacionExportar').modal('show')
				}
			</script>



			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Generar Nóminas de un Periodo</h2>
					<div class="posicion">Inicio/ Consultas e Informes > Nóminas de un Periodo</div>
					<h:form id="contenidoform">
						<div class="formulario">
							<b:row>
								<div class="col-md-6">
									<h3>Ingrese periodo, Tipo de nómina e institución para realizar la consulta:</h3>
								</div>
							</b:row>
							<hr/>
							<b:row>
								<div class="col-md-4 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.nominas.periodo.tiponomina']}"/>
									</label>
									<b:selectOneMenu id="tipoNomina" value="#{nominasPeriodoView.codNomina}" styleClass="#{component.valid?'':'inputInvalid'}"
													 required="true" requiredMessage="Debe seleccionar una nomina" ajax="true">
										<f:selectItem itemValue="" itemLabel="Seleccione"></f:selectItem>
										<f:selectItems value="#{nominasPeriodoView.tpNomina}" var="t" itemValue="#{t.codigo}" itemLabel="#{t.descripcion}" />
										<f:ajax listener="#{nominasPeriodoView.ocultarInstitucion}" event="change" update="institucion"/>
									</b:selectOneMenu>
									<h:message id="tipoNominaError" for="tipoNomina" style="color: red"/>
								</div>
								<div class="col-md-3 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.nominas.periodo.periodo']}" />
									</label>
									<b:dateTimePicker id="datePeriodo" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}" required="true" styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" value="#{nominasPeriodoView.periodo}"
													  requiredMessage="Debe ingresar un periodo" onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
									<h:message id="datePeriodoError" for="datePeriodo" style="color: red"/>
								</div>
								<div id="inst" class="col-md-3 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.nominas.periodo.institucion']}" rendered="#{nominasPeriodoView.mostrarInstitucion}"/>
									</label>
									<b:selectOneMenu id="institucion" value="#{nominasPeriodoView.rutInstitucion}" rendered="#{nominasPeriodoView.mostrarInstitucion}"
													 required="true" requiredMessage="Debe seleccionar una institución" styleClass="#{component.valid?'':'inputInvalid'}">
										<f:selectItem itemValue="" itemLabel="Seleccione"></f:selectItem>
										<f:selectItems value="#{nominasPeriodoView.instituciones}" var="ins" itemValue="#{ins.instRut}"
													   itemLabel="#{ins.instNombreCorto}" />
									</b:selectOneMenu>
									<h:message id="institucionError" for="institucion" style="color: red"/>
								</div>
							</b:row>
							<b:row>
								<div class="col-md-12">
									<div class="pull-right botones">


										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{nominasPeriodoView.buscarNominas()}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{nominasPeriodoView.limpiar()}"  />

									</div>
								</div>
							</b:row>
						</div>
						<!-- Tabla de resultados  -->
						<h:panelGroup rendered="#{nominasPeriodoView.mostrarPrimeraTabla}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
											value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar.pdf']}"
													 action="#{nominasPeriodoView.generarPdf()}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{nominasPeriodoView.obtenerExcelGeneral()}" />

								</div>
								<div class="tabla table-responsive">
									<div id="table_wrapper"
										 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{nominasPeriodoView.resultado}" styleClass="titulosHeader"
													 var="nomina" lang="es" responsive="true" select="false">
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.periodo']}" />
												</f:facet>
												#{nomina.periodo}
											</b:column>
											<b:column rendered="#{nominasPeriodoView.codNomina eq 0}">
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.fechadevengamiento']}" />
												</f:facet>
												#{nomina.fechaDevengamientoBeneficio}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.rutentidad']}" />
												</f:facet>
												#{nomina.rutEntidad}-#{nomina.dvEntidad}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.rutbeneficiario']}" />
												</f:facet>
												#{nomina.runBeneficiario}-#{nomina.dvBeneficiario}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.nombres']}" />
												</f:facet>
												#{nomina.nombres}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.apaterno']}" />
												</f:facet>
												#{nomina.apellidoPaterno}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.amaterno']}" />
												</f:facet>
												#{nomina.apellidoMaterno}
											</b:column>
											<b:column rendered="#{nominasPeriodoView.codNomina ne 3}">
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.tipopension']}" />
												</f:facet>
												#{nomina.tipoPension}
											</b:column>
											<b:column rendered="#{nominasPeriodoView.codNomina eq 1}">
												<f:facet name="header">
													<h:outputText
															value="Requisitos no acreditados" />
												</f:facet>
												#{nomina.requisitosNoAcreaditados}
											</b:column>
											<b:column rendered="#{nominasPeriodoView.codNomina eq 3}">
												<f:facet name="header">
													<h:outputText
															value="Indicador FPS" />
												</f:facet>
												#{nomina.indicadorRSH}
											</b:column>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<h:panelGroup rendered="#{nominasPeriodoView.mostrarSegundaTabla}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
											value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar.pdf']}"
													 action="#{nominasPeriodoView.generarPdf()}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{nominasPeriodoView.obtenerExcelGeneral()}" />
								</div>
								<div class="tabla table-responsive">
									<div id="table_wrapper_SegTa"
										 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{nominasPeriodoView.resultado}" styleClass="titulosHeader"
													 var="nomina" lang="es" responsive="true" select="false">
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.rutbeneficiario']}" />
												</f:facet>
												#{nomina.runBeneficiario}
											</b:column>
											<b:column rendered="#{nominasPeriodoView.codNomina eq 6}">
												<f:facet name="header">
													<h:outputText
															value="Estado" />
												</f:facet>
												#{nomina.estado}
											</b:column>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<h:panelGroup rendered="#{nominasPeriodoView.mostrarTablaPdi}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
											value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar.pdf']}"
													 action="#{nominasPeriodoView.generarPdf()}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{nominasPeriodoView.obtenerExcelGeneral()}" />
								</div>
								<div class="tabla table-responsive">
									<div id="tabla_pdi"
										 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{nominasPeriodoView.resultadoPdi}" styleClass="titulosHeader"
													 var="nominaPdi" lang="es" responsive="true" select="false">
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.run']}" />
												</f:facet>
												#{nominaPdi.run}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.apaterno']}" />
												</f:facet>
												#{nominaPdi.apellidoPaterno}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.amaterno']}" />
												</f:facet>
												#{nominaPdi.apellidoMaterno}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.nombres']}" />
												</f:facet>
												#{nominaPdi.nombres}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.sexo']}" />
												</f:facet>
												#{nominaPdi.sexo}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.fecnacimiento']}" />
												</f:facet>
												#{nominaPdi.fechaNacimiento}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.desdeuno']}" />
												</f:facet>
												#{nominaPdi.desdeUno}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.hastauno']}" />
												</f:facet>
												#{nominaPdi.hastaUno}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText
															value="#{msg['informe.nominas.periodo.tabla.columna.desdedos']}" />
												</f:facet>
												#{nominaPdi.desdeDos}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.hastados']}" />
												</f:facet>
												#{nominaPdi.hastaDos}
											</b:column>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<h:panelGroup rendered="#{nominasPeriodoView.mostrarTablaPbs}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
											value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar.pdf']}"
													 action="#{nominasPeriodoView.generarPdf()}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{nominasPeriodoView.obtenerExcelGeneral()}" />
								</div>
								<div class="tabla table-responsive">
									<div id="tabla_pbs"
										 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{nominasPeriodoView.resultadoPbs}" styleClass="titulosHeader"
													 var="nominaPbs" lang="es" responsive="true" select="false">
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.tipomovimiento']}" />
												</f:facet>
												#{nominaPbs.tipoMovimiento}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.tipobeneficio']}" />
												</f:facet>
												#{nominaPbs.tipoBeneficio}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.rutbeneficiario']}" />
												</f:facet>
												#{nominaPbs.runBeneficiario}-#{nominaPbs.dvBeneficiario}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.monto']}" />
												</f:facet>
												#{nominaPbs.monto}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.fecinic']}" />
												</f:facet>
												#{nominaPbs.fechaInicioPago}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.fecvencimiento']}" />
												</f:facet>
												#{nominaPbs.fechaVencimiento}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.codhaber']}" />
												</f:facet>
												#{nominaPbs.codigoHaber}
											</b:column>
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.unidadmedida']}" />
												</f:facet>
												#{nominaPbs.unidadMedida}
											</b:column>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<h:panelGroup rendered="#{nominasPeriodoView.mostrarTablaSinFicha}">
							<div class="cont-tabla">
								<h4>
									<h:outputText
											value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
								</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar.pdf']}"
													 action="#{nominasPeriodoView.generarPdf()}" />

									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{nominasPeriodoView.obtenerExcelGeneral()}" />
								</div>
								<div class="tabla table-responsive">
									<div id="tabla_sinficha"
										 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{nominasPeriodoView.resultado}" styleClass="titulosHeader"
													 var="nomina" lang="es" responsive="true" select="false">
											<b:column>
												<f:facet name="header">
													<h:outputText value="#{msg['informe.nominas.periodo.tabla.columna.rutbeneficiario']}" />
												</f:facet>
												#{nomina.runBeneficiario}-#{nomina.dvBeneficiario}
											</b:column>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
					</h:form>
				</div>
				<!--/.container-fuild-->
				<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
								<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
							</div>
							<div class="modal-body">
								<div class="barra-menu">
									#{msg['general.label.exportar.excel.texto']}
									<div class="modal-footer">
										<h:form>
											<button type="button" class="btn btn-default"
													data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
										</h:form>
									</div>
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
