<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2>Revisar Resultado de la Validación de Archivos</h2>
                    <div class="posicion">Inicio/ Consultas e Informes >
                        Resultado de la Validación de Archivos</div>
                    <h:form id="contenidoform">
                        <div class="formulario">
                            <b:row class="row">
                                <div class="col-md-6">
                                    <h3>Ingrese periodo para realizar la consulta:</h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-4 requiredBlock">
                                    <label> <h:outputText
                                            value="#{msg['informe.gestion.tabla.columna.periodo']}" />
                                    </label>
                                    <b:dateTimePicker id="datePeriodo" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
                                                      styleClass="#{component.valid?'':'inputInvalid'}"
                                                      format="YYYY/MMMM" required="true"
                                                      requiredMessage="Debe ingresar un periodo"
                                                      value="#{resultadoValidacionArchivosView.periodo}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
                                    <h:message id="datePeriodoError" for="datePeriodo"
                                               style="color: red" />
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-12">
                                    <div class="pull-right botones">
                                        <b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
                                                         action="#{resultadoValidacionArchivosView.buscar}" />

                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
                                                         style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{resultadoValidacionArchivosView.limpiar()}"  />

                                    </div>
                                </div>
                            </b:row>
                        </div>
                        <!-- Tabla de resultados  -->
                        <h:panelGroup id="tabla_resultado" rendered="#{resultadoValidacionArchivosView.mostrarGrilla}">
                            <div class="cont-tabla">
                                <h4>
                                    <h:outputText
                                            value="#{msg['informe.gestion.tabla.resultados.titulo']}" />
                                </h4>
                                <div class="pull-right">
                                    <!--b:commandButton id="botonDescargar"
                                        disabled="#{resultadoValidacionArchivosView.disableDescarga}"
                                        ajax="true" value="#{msg['general.boton.label.descargar']}" /-->
                                    <h:commandLink value="#{msg['general.boton.label.exportar']}"
                                                   styleClass="btn btn-success pull-right"
                                                   actionListener="#{resultadoValidacionArchivosView.obtenerExcel()}"
                                                   onclick="showExportar();">
                                    </h:commandLink>

                                </div>
                                <div class="tabla table-responsive">
                                    <div id="table_wrapper"
                                         class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                        <b:dataTable value="#{resultadoValidacionArchivosView.respuestaGrilla}"
                                                     var="registro" lang="es" responsive="true" select="false">
                                            <!-- columnas -->
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['institucion.tabla.columna.seleccione']}" />
                                                </f:facet>
                                                <!--b:selectBooleanCheckbox value="#{resultadoValidacionArchivosView.check}"/-->

                                                <h:commandLink rendered="#{resultadoValidacionArchivosView.validarDescargaArchivo(registro)}" action="#{resultadoValidacionArchivosView.descargarArchivoValidado(registro.nombreArchivoCargado, registro.resultadoCarga)}">
                                                    <h:outputText value="Descargar nómina" />
                                                </h:commandLink>

                                                <h:outputText rendered="#{!resultadoValidacionArchivosView.validarDescargaArchivo(registro)}" value="No disponible" />

                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.nombre}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['institucion.formulario.nombre.label']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.fechaCarga}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.fechacarga']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.registrosInformados}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.registrosinformados']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.registrosCargados}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.registroscargados']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.filasSinDatos}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.filassindatos']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.registrosIlegibles}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.registroilegibles']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.formatoNombre}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.formatonombre']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn value="#{registro.estructura}" header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.estructura']}" />
                                                </f:facet>
                                            </b:dataTableColumn>
                                            <b:dataTableColumn header-style-class="titulos">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{msg['informe.resumen.registro.archivoen.tabla.columna.resultadocarga']}" />
                                                </f:facet>

                                                <p:commandLink rendered="#{registro.fallido}" oncomplete="showMensajeCargaFallida()">
                                                    <h:outputText value="#{registro.resultadoCarga}"/>
                                                    <f:ajax execute="@form" listener="#{resultadoValidacionArchivosView.archivoSelectedTable(registro.mensajeError)}" render=":mensajeErrorCarga"/>
                                                </p:commandLink>

                                                <h:outputText rendered="#{!registro.fallido}" value="#{registro.resultadoCarga}"/>

                                            </b:dataTableColumn>
                                        </b:dataTable>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>

                    </h:form>
                </div>
                <!--/.container-fuild-->
                <script type="text/javascript">
                    function showExportar() {
                        $('#confirmacionExportar').modal()
                        $('#confirmacionExportar').modal({
                            keyboard : false
                        })
                        $('#confirmacionExportar').modal('show')
                    }
                </script>

                <div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">X</button>
                                <h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
                            </div>
                            <div class="modal-body">
                                <div class="barra-menu">
                                    #{msg['general.label.exportar.excel.texto']}
                                    <div class="modal-footer">
                                        <h:form>
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <script>
                    function showMensajeCargaFallida() {
                        $('#modalcargafallida').modal();
                        $('#modalcargafallida').modal({
                            keyboard : false
                        });
                        $('#confirmacionExportar').modal('hide');
                        $('#modalcargafallida').modal('show');
                        $('.modal-body').show();
                        $('#modalcargafallida').css({
                            'visibility' : 'inherit'
                        });
                    }
                </script>

                <!--/.container-fuild-->
                <div id="modalcargafallida" class="modal fade" style="z-index: 9999;" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Carga Fallida Archivo</h4>
                            </div>
                            <div class="tab-content" id="modal-mensaje-error-carga">
                                <div id="mensaje-carga-fallida" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <h:form id="mensajeErrorCarga">
                                            <label>Motivo:</label> <h:outputText value=" #{resultadoValidacionArchivosView.mensajeErrorCargaArchivo}"/>
                                        </h:form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="boton-modal pull-right">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
