<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">

			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Consultar resumen de registros de archivos de entrada</h2>
					<div class="posicion">Inicio/ Consultas e Informes > Resumen
						de registros de archivos de entrada</div>
					<h:form id="formResumenRegArch">
						<div class="formulario">
							<b:row>
								<div class="col-md-6">
									<h3>Ingrese el periodo para realizar la consulta:</h3>
								</div>
							</b:row>
							<hr/>
							<b:row>
								<div class="col-md-4 requiredBlock">
									<label><h:outputText
											value="#{msg['informe.gestion.tabla.columna.periodo']}" /></label>
									<b:dateTimePicker id="datePeriodo" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
													  styleClass="#{component.valid?'':'inputInvalid'}"
													  format="YYYY/MMMM" required="true"
													  requiredMessage="Debe ingresar un periodo"
													  value="#{resumenRegArchivosEntradaView.periodo}" onclick="#{baseControllerView.validarMaxPeriodoActual()}" />
									<h:message id="datePeriodoError" for="datePeriodo" style="color: red" />
								</div>
								<div class="col-md-8 requiredBlock">
									<div class="pull-right botones">

										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{resumenRegArchivosEntradaView.buscar()}" />

										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="formResumenRegArch" process="@this" actionListener="#{resumenRegArchivosEntradaView.limpiar()}"  />

									</div>
								</div>
							</b:row>
						</div>
						<!-- Tabla de resultados  -->
						<h:panelGroup id="tabla_resultado" rendered="#{resumenRegArchivosEntradaView.mostrarGrilla}">
							<div class="cont-tabla">
								<h4><h:outputText value="#{msg['informe.resumen.registro.tabla.resultados.titulo']}"/></h4>
								<div class="pull-right">
									<b:commandButton id="btnResultValida" action="#{resumenRegArchivosEntradaView.redirectResultadoValidacion}"
													 styleClass="btn btn-success" ajax="true"
													 value="#{msg['general.boton.label.resultadovalida']}" onclick="" />
									<h:commandLink value="#{msg['general.boton.label.exportar']}"
												   styleClass="btn btn-success pull-right"
												   actionListener="#{resumenRegArchivosEntradaView.obtenerExcel()}"
												   onclick="showExportar();">
									</h:commandLink>
								</div>
								<div class="tabla table-responsive">
									<div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
										<b:dataTable value="#{resumenRegArchivosEntradaView.respuestaGrilla}" var="registro"
													 lang="es"
													 responsive="true" select="false">
											<b:dataTableColumn value="#{registro.periodo}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.gestion.tabla.columna.periodo']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn
													value="#{registro.archivoCarga}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.resumen.registro.archivoen.tabla.columna.archivocarga']}"/>
												</f:facet>
											</b:dataTableColumn>
											<b:dataTableColumn value="#{registro.cantidadRegistros}" header-style-class="titulos">
												<f:facet name="header">
													<h:outputText value="#{msg['informe.resumen.registro.archivoen.tabla.columna.cantregistros']}"/>
												</f:facet>
											</b:dataTableColumn>
										</b:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
					</h:form>

					<script type="text/javascript">
						function showExportar() {
							$('#confirmacionExportar').modal()
							$('#confirmacionExportar').modal({
								keyboard : false
							})
							$('#confirmacionExportar').modal('show')
						}
					</script>

					<div class="modal fade" id="confirmacionExportar" style="z-index: 9999;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">X</button>
									<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
								</div>
								<div class="modal-body">
									<div class="barra-menu">
										#{msg['general.label.exportar.excel.texto']}
										<div class="modal-footer">
											<h:form>
												<button type="button" class="btn btn-default"
														data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
											</h:form>
										</div>
									</div>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

				</div>
			</div>
			<!-- /#page-wrapper -->
		</ui:define>
	</ui:composition>
</h:body>
</html>
