<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
>
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText value="#{msg['parametros.titulo.pagina']}"/></h2>
                    <div class="posicion"><h:outputText value="#{msg['parametros.breadcrum']}"/></div>
                    <h:form id="formulario_parametros">
                        <div class="formulario">
                            <b:row>
                                <div class="formulario input-margin">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><h:outputText value="#{msg['parametros.formulario.tareas.programadas']}"/></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro0.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-12 extra-margin">
                                                <strong><h:outputText value="#{msg['parametros.formulario.tareas.fecha.inicio']}"/></strong><h:outputText value=" #{msg['parametros.formulario.tareas.primer.dia']}"/>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong><h:outputText value="#{msg['parametros.formulario.tareas.frecuencia.minutos']}"/></strong>
                                            </div>
                                            <div class="col-sm-4">
                                                <b:inputText placeholder="#{msg['parametros.formulario.frecuencia.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro0.mantEjecFrecuencia}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(0)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro1.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-12">
                                                <strong><h:outputText value="#{msg['parametros.formulario.tareas.fecha.inicio']}"/></strong><h:outputText value=" #{msg['parametros.formulario.tareas.dias.habiles']}"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.nivel1']}"/></label>
                                                <b:inputText placeholder="#{msg['parametros.formulario.nivel.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro1.mantEjecValIni1}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(1)}"/>
                                                </b:inputText>
                                            </div>
                                            <div class="col-sm-4">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.nivel2']}"/></label>
                                                <b:inputText placeholder="#{msg['parametros.formulario.nivel.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro1.mantEjecValIni2}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(1)}"/>
                                                </b:inputText>
                                            </div>
                                            <div class="col-sm-4">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.nivel3']}"/></label>
                                                <b:inputText placeholder="#{msg['parametros.formulario.nivel.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro1.mantEjecValIni3}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(1)}"/>
                                                </b:inputText>
                                            </div>
                                            <div class="col-sm-8">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.frecuencia.minutos']}"/></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <b:inputText placeholder="#{msg['parametros.formulario.frecuencia.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro1.mantEjecFrecuencia}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(1)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro2.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-8">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.fecha.inicio']}"/><h:outputText value=" #{msg['parametros.formulario.tareas.dias.habiles']}"/></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <b:inputText placeholder="#{msg['parametros.formulario.dia.habil.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro2.mantEjecValIni1}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(2)}"/>
                                                </b:inputText>
                                            </div>
                                            <div class="col-sm-8">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.frecuencia.minutos']}"/></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <b:inputText placeholder="#{msg['parametros.formulario.frecuencia.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro2.mantEjecFrecuencia}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(2)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro3.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><h:outputText value="#{msg['parametros.formulario.tareas.dias.habiles']}"/></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <b:inputText placeholder="#{msg['parametros.formulario.dia.habil.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro3.mantEjecValIni1}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(3)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><h:outputText value="#{msg['parametros.formulario.periodo.bonificacion']}"/></h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro4.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><h:outputText value="#{msg['parametros.formulario.meses']}"/></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <b:inputText placeholder="#{msg['parametros.formulario.bonificacion.meses.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro4.mantEjecValIni1}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(4)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <h4><h:outputText value="#{ejecucionProcesoView.ejecucionParametro5.mantEjecDescripcion}"/></h4>
                                            </div>
                                            <div class="col-sm-6">
                                                <label><h:outputText value="#{msg['parametros.formulario.meses']}"/></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <b:inputText placeholder="#{msg['parametros.formulario.bonificacion.meses.placeholder']}"
                                                             value="#{ejecucionProcesoView.ejecucionParametro5.mantEjecValIni1}"
                                                             required="true">
                                                    <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(5)}"/>
                                                </b:inputText>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><h:outputText value="#{msg['parametros.formulario.validacion.nominas']}"/></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h:selectBooleanCheckbox value="#{ejecucionProcesoView.checked}">
                                                <f:ajax event="change" listener="#{ejecucionProcesoView.changeParametro(6)}"/>
                                            </h:selectBooleanCheckbox>
                                            <h:outputText value=" #{msg['parametros.formulario.checkbox']}"/><br/><br/><br/>

                                                <b:commandButton type="button" style="margin:10px 10px 10px" styleClass="btn btn-success" value="Periodo" onclick="showInfo();" />

                                                <b:commandButton style="margin:10px 10px 10px 10px" styleClass="btn btn-success" value="Reiniciar Proceso Concesión" onclick="$('.modalBlockUI').modal()"
                                                                 action="#{ejecucionProcesoView.reiniciarProcesoConcesion}"/>

                                                <b:commandButton style="margin:10px 10px 10px 10px" styleClass="btn btn-success" value="Reprocesar Nivel 3" onclick="$('.modalBlockUI').modal()"
                                                                 action="#{ejecucionProcesoView.reprocesarNivel3}"/>


                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right botones">

                                                <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                                 styleClass="btn btn-success"
                                                                 id="btn_guardar"
                                                                 actionListener="#{ejecucionProcesoView.guardarParametros}"
                                                                 update="@form"
                                                                 ajax="true">
                                                </b:commandButton>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b:row>
                        </div>
                    </h:form>
                </div>
            </div>



            <script>
                function showReprocesar() {
                    $('#modalReprocesar').modal();
                    $('#modalReprocesar').modal({
                        keyboard : false
                    });
                    $('#modalReprocesar').modal('show');
                }
            </script>

            <div class="modal fade" style="z-index: 9999;" id="modalReprocesar" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Reprocesar Nivel 3</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Se ha reprocesado el nivel 3 de notificación exitosamente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function showReiniciarProceso() {
                    $('#modalReiniciar').modal();
                    $('#modalReiniciar').modal({
                        keyboard : false
                    });
                    $('#modalReiniciar').modal('show');
                }
            </script>
            <div class="modal fade" style="z-index: 9999;" id="modalReiniciar" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Reiniciar Proceso de Concesión</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Se ha reiniciado el proceso de conseción exitosamente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function showInfo() {
                    $('#modalInfo').modal();
                    $('#modalInfo').modal({
                        keyboard : false
                    });
                    $('#modalInfo').modal('show');
                }
            </script>
            <div class="modal fade" style="z-index: 9999;" id="modalInfo" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Información Periodo Concesión: <strong><h:outputText value="#{ejecucionProcesoView.periodoInfo.perPeriodo}"/></strong></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div align="center">
                                        <p align="left">
                                            Fecha Creación: <strong><h:outputText value=" #{ejecucionProcesoView.periodoInfo.perFecCreacion}"/></strong><br/>
                                            Fecha Cierre: <strong><h:outputText value=" #{ejecucionProcesoView.periodoInfo.perFecCierre}"/></strong><br/>
                                            Usuario Cierre: <strong><h:outputText value=" #{ejecucionProcesoView.periodoInfo.perUsuCierre}"/></strong><br/>
                                            Etapa Periodo: <strong><h:outputText value=" #{ejecucionProcesoView.periodoInfo.etapaPeriodoCod} (#{ejecucionProcesoView.periodoInfo.etapaPeriodoGlosa})"/></strong><br/>
                                            Nivel Notificación: <strong><h:outputText value=" #{ejecucionProcesoView.periodoInfo.nivelActual}"/></strong>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>


        </ui:define>
    </ui:composition>
</h:body>
</html>