<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pr="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText value="#{msg['institucion.titulo.pagina']}"/></h2>
                    <div class="posicion"><h:outputText value="#{msg['institucion.breadcrum']}"/></div>
                    <h:form id="formulario_busqueda">
                        <div class="formulario">
                            <b:row>
                                <div class="col-md-6">
                                    <h3><h:outputText value="#{msg['institucion.formulario.titulo']}"/>
                                    </h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-10">
                                    <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                id="mainmessages"/>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText
                                            value="#{msg['institucion.formulario.rut.label']}"/></label>
                                    <h:inputText placeholder="#{msg['institucion.formulario.rut.placeholder']}"
                                                 value="#{institucionPagadoraView.rutInstitucionSearch}"
                                                 required="false" styleClass="ingresarRun">
                                        <f:validator
                                                validatorId="cl.gob.ips.exencion.common.validator.RutValidator"/>
                                    </h:inputText>
                                </div>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText
                                            value="#{msg['institucion.formulario.nombre.label']}"/></label>
                                    <h:inputText placeholder="#{msg['institucion.formulario.nombre.placeholder']}"
                                                 value="#{institucionPagadoraView.nombreInstitucionSearch}"
                                                 required="false">
                                    </h:inputText>
                                </div>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText
                                            value="#{msg['institucion.formulario.tipoentidad.label']}"/></label>
                                    <b:selectOneMenu id="tipoEntidad"
                                                     value="#{institucionPagadoraView.tipoInstitucionSearch}"
                                                     required="false">
                                        <f:selectItems value="#{institucionPagadoraView.tipoInstitucionList}" var="t"
                                                       itemValue="#{t}" itemLabel="#{t.tipInstDescripcion}"/>
                                    </b:selectOneMenu>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-12">
                                    <div class="pull-right botones">
                                        <b:commandButton styleClass="btn btn-success" iconAwesome="fa fa-search"
                                                         id="btn_buscar"
                                                         actionListener="#{institucionPagadoraView.buscarInstitucionPagadora}"
                                                         ajax="true"
                                                         update="@form, tabla_resultado"
                                                         oncomplete="scrollTo('#tabla_resultado');"
                                                         value="#{msg['general.boton.label.buscar']}"/>
                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" look="default"
                                                         style="margin-left:5px;"
                                                         ajax="true" update="@form, tabla_resultado"
                                                         actionListener="#{institucionPagadoraView.limpiarCriteriosBusqueda}">
                                        </b:commandButton>
                                    </div>
                                </div>
                            </b:row>
                        </div>
                    </h:form>
                    <h:form id="tabla_resultado">
                        <!--result-->
                        <div class="cont-tabla">
                            <h4><h:outputText value="#{msg['institucion.tabla.titulo']}"/></h4>
                            <div class="pull-right">
                                <b:commandButton id="botonEliminar" look="danger"
                                                 disabled="#{fn:length(institucionPagadoraView.institucionesDelete) == 0}"
                                                 oncomplete="$('#modalEliminar').modal();"
                                                 ajax="true" update="form_modal_eliminar"
                                                 value="#{msg['general.boton.label.eliminar']}"/>

                                <b:commandButton styleClass="btn btn-default" style="margin-left:5px;"
                                                 actionListener="#{institucionPagadoraView.crearInstitucionPagadora}"
                                                 iconAwesome="fa fa-plus" ajax="true" update="form_modal_crear"
                                                 oncomplete="$('#modalCrear').modal();"
                                                 value="#{msg['general.boton.label.agregar']}"/>
                            </div>
                            <div class="tabla table-responsive">
                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <b:dataTable value="#{institucionPagadoraView.instituciones}" var="institucion"
                                                 lang="es"
                                                 responsive="true" select="false">
                                        <b:dataTableColumn header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.seleccione']}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox
                                                    value="#{institucionPagadoraView.checked[institucion]}">
                                                <f:ajax listener="#{institucionPagadoraView.cambiaEstadoInstitucion(institucion)}"
                                                        render=":tabla_resultado"/>
                                            </h:selectBooleanCheckbox>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{institucion.instNombre}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.nombre']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn
                                                value="#{institucion.instRut}-#{institucion.instDv}"
                                                header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.rut']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{institucion.tbPrTipoInstitucion.tipInstDescripcion}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.tipoentidad']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{institucion.instTipInstExtencion}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.extension']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['institucion.tabla.columna.acciones']}"/>
                                            </f:facet>
                                            <pr:commandLink ajax="true"
                                                            action="#{institucionPagadoraView.editarInstitucionPagadora(institucion)}"
                                                            oncomplete="$('#modalEditar').modal();"
                                                            update="@form, form_modal_editar">
                                                <h:outputText value="#{msg['general.boton.label.editar']}"/>
                                            </pr:commandLink>
                                        </b:dataTableColumn>
                                    </b:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <!--/.container-fuild-->
            </div>

            <!-- modal crear-->
            <div id="modalCrear" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <h:form id="form_modal_crear">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">x</button>
                                <h4 class="modal-title"><h:outputText value="#{msg['institucion.modal.crear.titulo']}"/>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <b:row>
                                    <div class="col-md-12">
                                        <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                    id="createmessages"/>
                                    </div>
                                </b:row>
                                <b:row>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.nombre.label']}"/></label>
                                        <h:inputText placeholder="#{msg['institucion.formulario.nombre.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['institucion.formulario.nombre.requiered.message']}"
                                                     value="#{institucionPagadoraView.institucionCreate.instNombre}">
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.rut.label']}"/></label>
                                        <h:inputText styleClass="form-control" required="true"
                                                     placeholder="#{msg['institucion.formulario.rut.placeholder']}"
                                                     requiredMessage="#{msg['institucion.formulario.rut.requiered.message']}"
                                                     value="#{institucionPagadoraView.rutInstitucion}">
                                            <f:validator
                                                    validatorId="cl.gob.ips.exencion.common.validator.RutValidator"/>
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.tipoentidad.label']}"/></label>
                                        <b:selectOneMenu id="tipoEntidadEdit" required="true"
                                                         requiredMessage="#{msg['institucion.formulario.tipoentidad.requiered.message']}"
                                                         value="#{institucionPagadoraView.institucionCreate.tbPrTipoInstitucion}">
                                            <f:selectItems value="#{institucionPagadoraView.tipoInstitucionList}"
                                                           var="t"
                                                           itemValue="#{t}"
                                                           itemLabel="#{t.tipInstDescripcion}"/>
                                        </b:selectOneMenu>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.extesion.label']}"/></label>
                                        <h:inputText placeholder="#{msg['institucion.formulario.extesion.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['institucion.formulario.extesion.requiered.message']}"
                                                     value="#{institucionPagadoraView.institucionCreate.instTipInstExtencion}">
                                        </h:inputText>
                                    </div>
                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success"
                                                             id="btn_crear"
                                                             actionListener="#{institucionPagadoraView.doCrearInstitucionPagadora}"
                                                             update="@form, tabla_resultado, formulario_busqueda"
                                                             ajax="true">
                                            </b:commandButton>
                                            <b:button value="#{msg['general.boton.label.cerrar']}" dismiss="modal"
                                                      onclick="return false;"/>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal crear-->


            <!-- modal editar-->
            <div id="modalEditar" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <h:form id="form_modal_editar">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">x</button>
                                <h4 class="modal-title"><h:outputText value="#{msg['institucion.modal.crear.titulo']}"/>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <b:row>
                                    <div class="col-md-12">
                                        <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                    id="editmessages"/>
                                    </div>
                                </b:row>
                                <b:row>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.nombre.label']}"/></label>
                                        <h:inputText placeholder="#{msg['institucion.formulario.nombre.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['institucion.formulario.nombre.requiered.message']}"
                                                     value="#{institucionPagadoraView.institucionEdit.instNombre}">
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <label>RUT:</label>
                                        <h:inputText styleClass="form-control" readonly="true"
                                                     value="#{institucionPagadoraView.institucionEdit.instRut}-#{institucionPagadoraView.institucionEdit.instDv}">

                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.tipoentidad.label']}"/></label>
                                        <b:selectOneMenu id="tipoEntidadEdit" required="true"
                                                         requiredMessage="#{msg['institucion.formulario.tipoentidad.requiered.message']}"
                                                         value="#{institucionPagadoraView.institucionEdit.tbPrTipoInstitucion.tipInstCod}">
                                            <f:selectItems value="#{institucionPagadoraView.tipoInstitucionList}"
                                                           var="t"
                                                           itemValue="#{t.tipInstCod}"
                                                           itemLabel="#{t.tipInstDescripcion}"/>
                                        </b:selectOneMenu>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['institucion.formulario.extesion.label']}"/></label>
                                        <h:inputText placeholder="#{msg['institucion.formulario.extesion.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['institucion.formulario.extesion.requiered.message']}"
                                                     value="#{institucionPagadoraView.institucionEdit.instTipInstExtencion}">
                                        </h:inputText>
                                    </div>
                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success"
                                                             id="btn_editar"
                                                             actionListener="#{institucionPagadoraView.doEditarInstitucionPagadora}"
                                                             update="@form, tabla_resultado" ajax="true">
                                            </b:commandButton>
                                            <b:button value="#{msg['general.boton.label.cerrar']}" dismiss="modal"
                                                      onclick="return false;"/>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal editar-->

            <!-- modal eliminar -->
            <div id="modalEliminar" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <h:form id="form_modal_eliminar">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">Ãƒâ€”</button>
                                <h4 class="modal-title"><h:outputText
                                        value="#{msg['institucion.modal.confirmar.titulo']}"/></h4>
                            </div>
                            <div class="tab-content" id="modal-eliminar">
                                <div id="paso1-modal-eliminar" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <b:row>
                                            <div class="col-md-12">
                                                <b:messages styleClass="msgs" redisplay="true" for="@form"
                                                            recursive="true"
                                                            id="deletemessages"/>
                                            </div>
                                        </b:row>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h:outputText
                                                        rendered="#{fn:length(institucionPagadoraView.institucionesDelete) == 1}"
                                                        value="#{msg['institucion.modal.mensaje.eliminar.singular']}">
                                                </h:outputText>
                                                <h:outputText
                                                        rendered="#{fn:length(institucionPagadoraView.institucionesDelete) > 1}"
                                                        value="#{msg['institucion.modal.mensaje.eliminar.plurar']}">
                                                </h:outputText>

                                                <b:dataTable value="#{institucionPagadoraView.institucionesDelete}"
                                                             var="institucion"
                                                             lang="es"
                                                             responsive="true" select="false" paginated="false"
                                                             style="width: 100%;"
                                                             rendered="#{fn:length(institucionPagadoraView.institucionesDelete) > 0}">

                                                    <b:dataTableColumn value="#{institucion.instNombre}"
                                                                       header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText
                                                                    value="#{msg['institucion.tabla.columna.nombre']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn
                                                            value="#{institucion.instRut}-#{institucion.instDv}"
                                                            header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText
                                                                    value="#{msg['institucion.tabla.columna.rut']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-8 col-md-offset-4">
                                            <b:row>
                                                <div class="pull-right">
                                                    <b:commandButton value="#{msg['general.boton.label.eliminar']}"
                                                                     styleClass="btn btn-success"
                                                                     id="btn_confirma_eliminar"
                                                                     actionListener="#{institucionPagadoraView.doEliminaInstitucionesPagadoras}"
                                                                     update="@form, tabla_resultado, formulario_busqueda"
                                                                     ajax="true"
                                                                     oncomplete="$('#modalEliminar').modal('toggle');"
                                                                     rendered="#{fn:length(institucionPagadoraView.institucionesDelete) > 0}">
                                                    </b:commandButton>
                                                    <b:button value="#{msg['general.boton.label.cerrar']}"
                                                              dismiss="modal" onclick="return false;"/>
                                                </div>
                                            </b:row>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal eliminar-->
        </ui:define>
    </ui:composition>
</h:body>
</html>