<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pr="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
      
<h:body>
       
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText value="#{msg['calendario.titulo.pagina']}"></h:outputText> </h2>
                    <div class="posicion"><h:outputText value="#{msg['calendario.breadcrum']}"></h:outputText></div>
                    <h:form id="formulario_busqueda">
                        <div class="formulario">
                            <b:row>
                                <div class="col-md-6">
                                    <h3><h:outputText value="#{msg['calendario.formulario.titulo']}"></h:outputText></h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-10">
                                    <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                id="mainmessages"/>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText value="#{msg['calendario.formulario.year.label']}"></h:outputText></label>
                                    <b:selectOneMenu id="years"
                                                     value="#{mantenedorCalendarioView.yearSearch}"
                                                     required="false">                                        
                                        <f:selectItems value="#{mantenedorCalendarioView.yearsList}" var="t"
                                                       itemValue="#{t}" itemLabel="#{t}"/>
                                    </b:selectOneMenu>
                                </div>
                            </b:row>
                            <b:row>                                
                                <div class="col-md-12">
                                    <div class="pull-right botones">
                                        <b:commandButton styleClass="btn btn-success" iconAwesome="fa fa-search"
                                                         id="btn_buscar"
                                                         actionListener="#{mantenedorCalendarioView.buscarCalendario}"
                                                         ajax="true"
                                                         update="@form, tabla_resultado" oncomplete="scrollTo('#tabla_resultado');" 
                                                         value="#{msg['general.boton.label.buscar']}"></b:commandButton>
                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" look="default" 
                                                         style="margin-left:5px;"
                                                         ajax="true" update="@form, tabla_resultado"
                                                         actionListener="#{mantenedorCalendarioView.limpiarCriteriosBusqueda}">
                                        </b:commandButton>
                                    </div>
                                </div>                                
                            </b:row>
                        </div>
                    </h:form>
                    <h:form id="tabla_resultado">
                        <!--result-->
                        <div class="cont-tabla">
                            <h4><h:outputText value="#{msg['calendario.tabla.titulo']}"></h:outputText></h4>
                            <div class="pull-right">
                                <b:commandButton id="botonEliminar" look="danger"
                                                 disabled="#{fn:length(mantenedorCalendarioView.calendariosDelete) == 0}"
                                                 oncomplete="$('#modalEliminar').modal();"
                                                 ajax="true" update="form_modal_eliminar"
                                                 value="#{msg['general.boton.label.eliminar']}"></b:commandButton>

                                <b:commandButton styleClass="btn btn-default" style="margin-left:5px;"
                                                 actionListener="#{mantenedorCalendarioView.crearCalendario}"
                                                 iconAwesome="fa fa-plus" ajax="true" update="form_modal_crear"
                                                 oncomplete="$('#modalCrear').modal();"
                                                 value="#{msg['general.boton.label.agregar']}"></b:commandButton>
                            </div>
                            <div class="tabla table-responsive">
                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <b:dataTable value="#{mantenedorCalendarioView.calendario}" var="calendario"
                                                 lang="es"
                                                 responsive="true" select="false">
                                        <b:dataTableColumn header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['calendario.tabla.columna.seleccione']}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox
                                                    value="#{mantenedorCalendarioView.checked[calendario]}">
                                                <f:ajax listener="#{mantenedorCalendarioView.cambiaEstadoCalendario(calendario)}"
                                                        render=":tabla_resultado"></f:ajax>
                                            </h:selectBooleanCheckbox>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn  header-style-class="titulos">
                                            <h:outputText value="#{calendario.calFecFeriado}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['calendario.tabla.columna.fecha']}"/>
                                            </f:facet>
                                            
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{calendario.calDescripcion}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['calendario.tabla.columna.descripcion']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="Acciones"/>
                                            </f:facet>
                                            <pr:commandLink ajax="true"
                                                            action="#{mantenedorCalendarioView.editarCalendario(calendario)}"
                                                            oncomplete="$('#modalEditar').modal();"
                                                            update="@form, form_modal_editar">
                                                <h:outputText value="#{msg['general.boton.label.editar']}"/>
                                            </pr:commandLink>
                                        </b:dataTableColumn>
                                    </b:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <!--/.container-fuild-->
            </div>
            
            <!-- modal crear-->
            <div id="modalCrear" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <h:form id="form_modal_crear">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title"><h:outputText value="#{msg['calendario.modal.crear.titulo']}"/>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <b:row>
                                    <div class="col-md-12">
                                        <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                    id="createmessages"/>
                                    </div>
                                </b:row>
                                <b:row>
                                    <div class="col-md-6">
                                        <label><h:outputText value="#{msg['calendario.formulario.dia.label']}"/></label>
                                        <h:inputText placeholder="#{msg['calendario.formulario.fecha.placeholder']}"
                                                     styleClass="form-control" required="true"                                                     
                                                     requiredMessage="#{msg['calendario.formulario.dia.requiered.message']}"
                                                     value="#{mantenedorCalendarioView.fechaEdit}"
                                                     maxlength="10">
                                        </h:inputText>	                                            
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['calendario.formulario.descripcion.label']}"/></label>
                                        <h:inputText placeholder="#{msg['calendario.formulario.descripcion.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['calendario.formulario.descripcion.requiered.message']}"
                                                     value="#{mantenedorCalendarioView.descripcionEdit}"
                                                     maxlength="40">
                                        </h:inputText>
                                    </div>
                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success"
                                                             id="btn_crear"
                                                             actionListener="#{mantenedorCalendarioView.doCrearCalendario}"
                                                             update="@form, tabla_resultado, formulario_busqueda"
                                                             ajax="true">
                                            </b:commandButton>
                                            <b:button value="#{msg['general.boton.label.cerrar']}" dismiss="modal"
                                                      onclick="return false;"/>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal crear-->
            
            <!-- modal editar-->
            <div id="modalEditar" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <h:form id="form_modal_editar">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title"><h:outputText value="#{msg['calendario.modal.crear.titulo']}"/>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <b:row>
                                    <div class="col-md-12">
                                        <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                    id="editmessages"/>
                                    </div>
                                </b:row>
                                <b:row>                                         
                                    <div class="col-md-6">
                                        <label>
                                            <h:outputText value="#{msg['calendario.formulario.dia.label']}"/>
                                        </label>
                                        <h:inputText placeholder="#{msg['calendario.formulario.fecha.placeholder']}"
                                             styleClass="form-control" required="true"
                                             requiredMessage="#{msg['calendario.formulario.dia.requiered.message']}"                                             
                                             value="#{mantenedorCalendarioView.fechaEdit}" 
                                             maxlength="10">
                                            
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['calendario.formulario.descripcion.label']}"/></label>
                                        <h:inputText placeholder="#{msg['calendario.formulario.descripcion.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     requiredMessage="#{msg['calendario.formulario.descripcion.requiered.message']}"
                                                     value="#{mantenedorCalendarioView.descripcionEdit}"
                                                     maxlength="40">
                                        </h:inputText>
                                    </div>
                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}" 
                                                             styleClass="btn btn-success"
                                                             id="btn_editar"
                                                             actionListener="#{mantenedorCalendarioView.doEditarCalendario}"
                                                             update="@form, tabla_resultado" ajax="true">
                                            </b:commandButton>
                                            <b:button value="#{msg['general.boton.label.cerrar']}" dismiss="modal"
                                                      onclick="return false;"/>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal editar-->

            <!-- modal eliminar -->
            <div id="modalEliminar" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <h:form id="form_modal_eliminar">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" value="x"></button>
                                <h4 class="modal-title"><h:outputText
                                        value="#{msg['calendario.modal.confirmar.titulo']}"/></h4>
                            </div>
                            <div class="tab-content" id="modal-eliminar">
                                <div id="paso1-modal-eliminar" class="tab-pane fade active in" role="tabpanel">
                                    <div class="modal-body">
                                        <b:row>
                                            <div class="col-md-12">
                                                <b:messages styleClass="msgs" redisplay="true" for="@form"
                                                            recursive="true"
                                                            id="deletemessages"/>
                                            </div>
                                        </b:row>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h:outputText
                                                        rendered="#{fn:length(mantenedorCalendarioView.calendariosDelete) == 1}"
                                                        value="#{msg['calendario.modal.mensaje.eliminar.singular']}">                                                        
                                                </h:outputText>
                                                <h:outputText
                                                        rendered="#{fn:length(mantenedorCalendarioView.calendariosDelete) > 1}"
                                                        value="#{msg['calendario.modal.mensaje.eliminar.plurar']}">
                                                </h:outputText>

                                                <b:dataTable value="#{mantenedorCalendarioView.calendariosDelete}"
                                                             var="calendario"
                                                             lang="es"
                                                             responsive="true" select="false" paginated="false"
                                                             style="width: 100%;"
                                                             rendered="#{fn:length(mantenedorCalendarioView.calendariosDelete) > 0}">

                                                    <b:dataTableColumn header-style-class="titulos">
                                                        <h:outputText value="#{calendario.calFecFeriado}">
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </h:outputText>
                                                        
                                                        <f:facet name="header">
                                                            <h:outputText value="#{msg['calendario.tabla.columna.fecha']}"/>
                                                        </f:facet>
                                                       
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn
                                                            value="#{calendario.calDescripcion}"
                                                            header-style-class="titulos">
                                                        <f:facet name="header">
                                                            <h:outputText 
                                                                value="#{msg['calendario.tabla.columna.descripcion']}"/>
                                                        </f:facet>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-8 col-md-offset-4">
                                            <b:row>
                                                <div class="pull-right">                                                   
                                                    <b:commandButton value="#{msg['general.boton.label.eliminar']}"
                                                                     styleClass="btn btn-success"
                                                                     id="btn_confirma_eliminar"
                                                                     actionListener="#{mantenedorCalendarioView.doEliminaCalendario}"
                                                                     update="@form, tabla_resultado, formulario_busqueda"
                                                                     ajax="true"
                                                                     oncomplete="$('#modalEliminar').modal('toggle');"
                                                                     rendered="#{fn:length(mantenedorCalendarioView.calendariosDelete) > 0}">
                                                    </b:commandButton>
                                                    <b:button value="#{msg['general.boton.label.cerrar']}"
                                                              dismiss="modal" onclick="return false;"/>
                                                </div>
                                            </b:row>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal eliminar-->
        </ui:define>
    </ui:composition>  
</h:body>
</html>