<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pr="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
      
<h:body>
       
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText value="#{msg['respuestas.titulo.pagina']}"></h:outputText> </h2>
                    <div class="posicion"><h:outputText value="#{msg['respuestas.breadcrum']}"></h:outputText></div>
                    <h:form id="formulario_busqueda">
                        <div class="formulario">
                            <b:row>
                                <div class="col-md-6">
                                    <h3><h:outputText value="#{msg['respuestas.formulario.titulo']}"></h:outputText></h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-10">
                                    <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                id="mainmessages"/>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText value="#{msg['respuestas.formulario.tipo.respuesta.label']}"></h:outputText></label>
                                    <b:selectOneMenu id="years"
                                                     value="#{respuestasPensionadoView.tipoRespuestaSearch}"
                                                     required="false"
                                                     update="@form, tabla_resultado" oncomplete="scrollTo('#tabla_resultado');">                                        
                                        <f:selectItems value="#{respuestasPensionadoView.tipoRespuestaList}" var="t"
                                                       itemValue="#{t}" itemLabel="#{t.tipRespDescTecnica}"/>
                                        <f:ajax event="change" listener="#{respuestasPensionadoView.limpiarRespuesta}"/>
                                    </b:selectOneMenu>
                                </div>
                            </b:row>
                            <b:row>                                
                                <div class="col-md-12">
                                    <div class="pull-right botones">
                                        <b:commandButton styleClass="btn btn-success" iconAwesome="fa fa-search"
                                                         id="btn_buscar"
                                                         actionListener="#{respuestasPensionadoView.buscarRespuestaSeleccionada}"
                                                         ajax="true"
                                                         update="@form, tabla_resultado" oncomplete="scrollTo('#tabla_resultado');" 
                                                         value="#{msg['general.boton.label.buscar']}"></b:commandButton>
                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" look="default" 
                                                         style="margin-left:5px;"
                                                         ajax="true" update="@form, tabla_resultado"
                                                         actionListener="#{respuestasPensionadoView.limpiarCriteriosBusqueda}">
                                        </b:commandButton>
                                    </div>
                                </div>                                
                            </b:row>
                        </div>
                    </h:form>
                    <h:form id="tabla_resultado">
                        <!--result-->
                        <div class="cont-tabla">
                            <h4><h:outputText value="#{msg['respuestas.tabla.titulo']}"></h:outputText></h4>
                            <div class="tabla table-responsive">
                                <div class="col-md-6">                                    
                                    <b:inputTextarea id="inp_respuesta"
                                                 placeholder="#{msg['respuestas.formulario.respuesta.pensionado.placeholder']}"
                                                 styleClass="form-control" required="true"                                                 
                                                 requiredMessage="#{msg['respuestas.formulario.respuesta.pensionado.requiered.message']}"
                                                 disabled="#{respuestasPensionadoView.strDisabled == '0'}"
                                                 value="#{respuestasPensionadoView.tipoRespuesta.tipRespDescPensionado}"
                                                 maxlength="250">                                       
                                    </b:inputTextarea>	                                            
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success"
                                                             id="btn_guardar"
                                                             disabled="#{respuestasPensionadoView.strDisabled == '0'}"
                                                             actionListener="#{respuestasPensionadoView.doGuardaTipoRespuesta}"
                                                             update="@form, tabla_resultado, formulario_busqueda"
                                                             ajax="true">
                                            </b:commandButton>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <!--/.container-fuild-->
            </div>
            

        </ui:define>
    </ui:composition>  
</h:body>
</html>