<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pr="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:body>
    <ui:composition template="/template/common/layout.xhtml">
        <ui:define name="content">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <h2><h:outputText value="#{msg['responsable.titulo.pagina']}"/></h2>
                    <div class="posicion"><h:outputText value="#{msg['responsable.breadcrum']}"/></div>
                    <h:form id="formulario_busqueda">
                        <div class="formulario">
                            <b:row>
                                <div class="col-md-6">
                                    <h3><h:outputText value="#{msg['responsable.formulario.titulo']}"/>
                                    </h3>
                                </div>
                            </b:row>
                            <hr/>
                            <b:row>
                                <div class="col-md-10">
                                    <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                id="mainmessages"/>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-4 requiredBlock">
                                    <label><h:outputText
                                            value="#{msg['responsable.formulario.grupoarchivo.label']}"/></label>
                                    <b:selectOneMenu id="grupoArchivo"
                                                     value="#{responsableGrupoArchivoView.grupoArchivoSearch}"
                                                     required="false">
                                        <f:selectItems value="#{responsableGrupoArchivoView.gruposArchivoList}" var="t"
                                                       itemValue="#{t}" itemLabel="#{t.grupArchGlosa}"/>
                                    </b:selectOneMenu>
                                </div>
                            </b:row>
                            <b:row>
                                <div class="col-md-12">
                                    <div class="pull-right botones">
                                        <b:commandButton styleClass="btn btn-success" iconAwesome="fa fa-search"
                                                         id="btn_buscar"
                                                         actionListener="#{responsableGrupoArchivoView.buscarResponsableGrupoArchivo}"
                                                         ajax="true"
                                                         update="@form, tabla_resultado"
                                                         oncomplete="scrollTo('#tabla_resultado');"
                                                         value="#{msg['general.boton.label.buscar']}"/>
                                        <b:commandButton value="#{msg['general.boton.label.limpiar']}" look="default"
                                                         style="margin-left:5px;"
                                                         ajax="true" update="@form, tabla_resultado"
                                                         actionListener="#{institucionPagadoraView.limpiarCriteriosBusqueda}">
                                        </b:commandButton>
                                    </div>
                                </div>
                            </b:row>
                        </div>
                    </h:form>
                    <h:form id="tabla_resultado">
                        <!--result-->
                        <div class="cont-tabla">
                            <h3><h:outputText value="#{msg['responsable.tabla.titulo']}"/></h3>
                            <div class="pull-right">
                                <b:commandButton id="botonEliminar" look="danger"
                                                 disabled="#{fn:length(responsableGrupoArchivoView.usuarioGrupoDelete) == 0}"
                                                 value="#{msg['responsable.boton.label.eliminar']}"/>

                                <b:commandButton styleClass="btn btn-success" style="margin-left:5px;"
                                                 actionListener="#{responsableGrupoArchivoView.crearResponsableGrupoArchivo}"
                                                 disabled="#{responsableGrupoArchivoView.grupoArchivoSearch.grupArchCod == null}"
                                                 iconAwesome="fa fa-plus" ajax="true" update="form_modal_crear"
                                                 oncomplete="$('#modalCrear').modal();"
                                                 value="#{msg['responsable.boton.label.agregar']}"/>
                            </div>
                            <div class="tabla table-responsive">
                                <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <b:dataTable value="#{responsableGrupoArchivoView.usuarioGrupoList}"
                                                 var="usuarioGrupo"
                                                 lang="es"
                                                 responsive="true" select="false">
                                        <b:dataTableColumn header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.seleccione']}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox
                                                    value="#{responsableGrupoArchivoView.checked[usuarioGrupo]}">
                                                <f:ajax listener="#{responsableGrupoArchivoView.cambiaEstado(usuarioGrupo)}"
                                                        render=":tabla_resultado"/>
                                            </h:selectBooleanCheckbox>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{usuarioGrupo.tbUsuarios1.usuNombre}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.nombre']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn
                                                value="#{usuarioGrupo.tbUsuarios1.usuApePat}"
                                                header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.apaterno']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{usuarioGrupo.tbUsuarios1.usuApeMat}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.amaterno']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{usuarioGrupo.tbUsuarios1.usuCorreo}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.correo']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn value="#{usuarioGrupo.tbPrNivelResponsabilidad.nivelCod}"
                                                           header-style-class="titulos">
                                            <f:facet name="header">
                                                <h:outputText value="#{msg['responsable.tabla.columna.nivel']}"/>
                                            </f:facet>
                                        </b:dataTableColumn>
                                    </b:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <!--/.container-fuild-->
            </div>

            <!-- modal crear-->
            <div id="modalCrear" class="modal fade in" role="dialog" aria-hidden="true"
                 style="display: none; padding-right: 17px;" tabindex="-1">
                <div class="modal-dialog">
                    <h:form id="form_modal_crear">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"/>
                                <h4 class="modal-title"><h:outputText value="#{msg['responsable.modal.crear.titulo']}"/>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <b:row>
                                    <div class="col-md-12">
                                        <b:messages styleClass="msgs" redisplay="true" for="@form" recursive="true"
                                                    id="createmessages"/>
                                    </div>
                                </b:row>
                                <b:row>
                                    <div class="col-md-12">
                                        <h5><h:outputText value="#{msg['responsable.modal.crear.subtitulo']}"/> <strong><h:outputText
                                                value="#{responsableGrupoArchivoView.grupoArchivoSearch.grupArchGlosa}"/></strong>
                                        </h5>
                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['responsable.formulario.nombre.label']}"/></label>
                                        <b:inputText placeholder="#{msg['responsable.formulario.nombre.placeholder']}"
                                                     styleClass="form-control" required="true"
                                                     id="nombreCreate"
                                                     requiredMessage="#{msg['responsable.formulario.nombre.requiered.message']}"
                                                     value="#{responsableGrupoArchivoView.usuarioGrupoCreate.tbUsuarios1.usuCorreo}">
                                            <f:ajax event="blur" listener="#{responsableGrupoArchivoView.validateUsuarioExiste}"/>
                                        </b:inputText>

                                    </div>
                                    <div class="col-md-6">
                                        <label><h:outputText
                                                value="#{msg['responsable.formulario.nivel.label']}"/></label>
                                        <b:selectOneMenu id="nivelCreate" required="true"
                                                         requiredMessage="#{msg['responsable.formulario.nivel.requiered.message']}"
                                                         value="#{responsableGrupoArchivoView.usuarioGrupoCreate.tbPrNivelResponsabilidad}">
                                            <f:selectItems
                                                    value="#{responsableGrupoArchivoView.nivelResponsabilidadList}"
                                                    var="t"
                                                    itemValue="#{t}"
                                                    itemLabel="#{t.nivelCod}"/>
                                        </b:selectOneMenu>
                                    </div>
                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-md-offset-4">
                                    <b:row>
                                        <div class="pull-right">
                                            <b:commandButton value="#{msg['general.boton.label.guardar']}"
                                                             styleClass="btn btn-success"
                                                             id="btn_crear"
                                                             actionListener="#{responsableGrupoArchivoView.doCrearResponsableGrupoArchivo}"
                                                             update="@form, tabla_resultado, formulario_busqueda"
                                                             ajax="true">
                                            </b:commandButton>
                                            <b:button value="#{msg['general.boton.label.cerrar']}" dismiss="modal"
                                                      onclick="return false;"/>
                                        </div>
                                    </b:row>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <!-- fin modal crear-->
        </ui:define>
    </ui:composition>
</h:body>
</html>
