/* Todas */
a{outline:none}
#page-wrapper .container-fluid>h1{margin-bottom:50px;}
#cf-gob{background:#ff1e32;height:5px;margin:-20px auto 0;}
#cf-gob span{display:block;background:#005aae;width:46.2962962963%;float:left;height:100%;}
.navbar-header #cf-gob {
    margin-top: 0;
    position: relative;
    width: 216px;
    z-index: 10;
}
a.navbar-brand.franjagob{padding:0px!important;text-align:center;}
.wrap{float:left;clear:both;padding:0}
.clear{clear:both;}
.ml-xs{margin-left:10px;}
table a{text-decoration: none!important}
.filler{display:block;overflow:hidden;}
/* Login */
#login-body{background:url(../img/bg-login.png);height:100%;width:100%;}
#login{width:340px;margin:auto;overflow:hidden;}
#login h1{font-size:40px;text-align:center;}
#login input{margin-bottom:10px;}
.g-recaptcha{margin-bottom:7px;}
#olvido{float:left;display:block;height:34px;line-height:34px;}
#ingreso{float:right;}
#ingreso:focus,#ingreso:hover{}
.navbar-brand.franjagob:hover,.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{background-color:#fff!important;color:inherit!important;}
/* Beneficios */
.orange {border-left: solid #ca462d 6px;background-color: #f1ebed;padding:40px 0 40px 40px}
h3.respuestaConsulta {color: #e76111;}
p.infoBox {font:13pt 'gobCLRegular';color: #5b5b5f;}
.green {overflow:hidden;border-left: solid #5fa098 6px;background-color: #fafafa;padding:40px 0 40px 40px}
/* Usuarios */
h1 .small{font-size: 45%;}
h1 a{margin-left:40px;}
h1 a:hover{text-decoration: none}
div.modal-body.select .controls{width:15px;float:left;height:100px;float:left;margin: 85px 10px 0;}
div.modal-body.select .controls a{display:block;margin:20px 0;}
div.modal-body.select select{width:45.5%!important;height:300px;}
@media(max-width: 767px){.navbar-brand.franjagob{display:none;}}
/* Cargar Datos */
#upload{float:left;padding:6px 10px;}
.form-group.well p{padding:0 10px;}
.separate{padding:5px 20px;}
#accordion .badge{float:right;}
#accordion .panel-heading{padding:0px!important;}
#accordion a.list-group-item{border:none;}
/* Ingreso Reclamos */
.push-top{margin-top:25px;}
/* Consulta Reclamos */
.modal-body.no-padding .panel-heading{padding:0px!important;}
/* Agregados */
.hide{display:none}
.show{display:block}
.top-nav>li>a{color:#fff!important}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus{background:#3a5a8c!important;}
.side-nav{height:100%;}
.fa-bl{font-size:0.5em;position: relative;top:-2px;margin-right:4px;}
/* Header nuevo */
#page-wrapper{position:relative;}
.container-fluid{padding-top: 30px}
#page-wrapper .container-fluid>h1{ background: #bfcee5 url("../img/header-bg.png") no-repeat scroll 380px center;position: absolute;top: 0;left: 0;margin: 2px 0px;width: 100%;height: 104px;line-height: 92px;background-color:#fff;color:#46647d;padding-left: 30px}
.dropdown .flecha-menu{background: url(../img/menu-down.png) no-repeat center center;display: inline-block;height: 20px;width: 20px;position: relative;top: 6px;left: 6px;margin-left:5px;}
.dropdown .fa-user{margin-right: 15px}
/* TipoReporte */
#chartContainer{height:400px;margin:10px auto;}
h3.no-margin{margin:4px 10px 0 0;}