/*Estilos Mario*/

body{
font-family: 'gobCLRegular', 'arial';
background: url("../img/background.jpg");
}

@font-face {
    font-family: 'gobCLLight';
    src: url('../fonts/gobcl_light.eot');
    src: url('../fonts/gobcl_light.eot') format('embedded-opentype'),
         url('../fonts/gobcl_light.woff') format('woff'),
         url('../fonts/gobcl_light.ttf') format('truetype'),
         url('../fonts/gobcl_light.svg#gobCLLight') format('svg');
}
@font-face {
    font-family: 'gobCLBold';
    src: url('../fonts/gobcl_bold.eot');
    src: url('../fonts/gobcl_bold.eot') format('embedded-opentype'),
         url('../fonts/gobcl_bold.woff2') format('woff2'),
         url('../fonts/gobcl_bold.woff') format('woff'),
         url('../fonts/gobcl_bold.ttf') format('truetype'),
         url('../fonts/gobcl_bold.svg#gobCLBold') format('svg');
}
@font-face {
    font-family: 'gobCLRegular';
    src: url('../fonts/gobcl_regular.eot');
    src: url('../fonts/gobcl_regular.eot') format('embedded-opentype'),
         url('../fonts/gobcl_regular.woff') format('woff'),
         url('../fonts/gobcl_regular.ttf') format('truetype'),
         url('../fonts/gobcl_regular.svg#gobCLRegular') format('svg');
}

nav.navbar.navbar-inverse.navbar-fixed-top .collapse.navbar-collapse.navbar-ex1-collapse, .navbar-inverse{
	background-color: #003251;
    border-color: #0D314E;
}
a.navbar-brand.franjagob{
	padding-top: 0;
	
    height: 30px;
    margin: 0;
    width: 225px;
}
a.navbar-brand.franjagob img{
	padding-left: 17px;
}
h4.titleAdmin{
	display: block;
	float: left;
	color: #ddd;
	padding-left: 13px;
    margin-top: 17px;
}
ul.nav.navbar-nav.side-nav{
	background-color: #5686d6;

}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #46647d;
}

li h3.titmenu{
	display: block;
	text-align: center;
}
.panel-primary > .panel-heading{
	background-color: #c6514b;
	border-color: #c6514b;
}
.panel-primary{
	border-color:#c6514b;
}
.panel.panel-primary.panel-red a .panel-footer{
	background-color: #c6514b;
	color: #fff;
	border-top: 0;
}
.panel-grey {
    border-color: #d8d9dd;
}
.panel-grey .panel-heading {
    background-color: #d8d9dd;
    border-color: #d8d9dd;
    color: #4d4d4d;
}
.panel-darkGrey {
    border-color: #87868a;
}
.panel-darkGrey .panel-heading {
    background-color: #87868a;
    border-color: #87868a;
    color: #fff;
}
.panel.panel-grey a .panel-footer{
	background-color: #d8d9dd;
    border-color: #d8d9dd;
    color: #4d4d4d;
}
.panel-gobBlue .panel-heading {
    border-color: #028cce;
    color: #fff;
    background-color: #028cce;
}
.panel-gobBlue .panel-footer {
    border-color: #028cce;
    color: #fff;
    background-color: #028cce;
}
.panel-whiteGrey {
    border-color: #edeef0;
}
.panel-whiteGrey .panel-heading {
    background-color: #edeef0;
    border-color: #edeef0;
    color: #c6514b;
}
.panel.panel-whiteGrey a .panel-footer{
    background-color: #edeef0;
    border-color: #edeef0;
    color: #c6514b;
}

/*alerts*/
.close {
    color: #000;
    float: right;
    font-size: 34px;
    font-weight: 700;
    line-height: 0.8;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #70acd3;
    border-color: #70acd3;
    color: #fff;
    z-index: 2;
}

/*tablas*/
 thead.red{
    background-color: #E5B4B1;
    color: #000;
 }
  thead.grey{
    background-color: #87868a;
    color: #fff;
 }
 thead.blue{
    background-color: #76aadb;
    color: #fff;
 }
 thead.green{
    background-color: #6eaa6f;
    color: #fff;
 }
 .btn-disabled, .btn-disabled:hover{ color:#333; cursor:auto; border-left:1px solid #efefef; }
 
.panel-heading h3{
margin-top: 5px;
}

/*Para el Logo*/

#wrapper h1.logo {
    background: url(../img/logo.png) no-repeat;
    border-bottom: 1px solid #cdd3d6;
    float: left;
    font-size: 0;
    height: 127px;
    line-height: 0;
    margin:0;
    overflow: hidden;
    padding: 0;
    text-indent: -99999%;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#wrapper section h1.logo {
    background: url(../img/logo-gestor-pago.png) no-repeat;
    border-bottom: 1px solid #cdd3d6;
    float: left;
    font-size: 0;
    height: 127px;
    line-height: 0;
    margin:0;
    overflow: hidden;
    padding: 0;
    text-indent: -99999%;
    transition: all 0.5s ease 0s;
    width: 100%;
}
#wrapper h1.uikit-logo {
    background: url(../img/logo_uikit.png) no-repeat;
    float: left;
    font-size: 0;
    height: 127px;
    line-height: 0;
    margin:0;
    overflow: hidden;
    padding: 0;
    text-indent: -99999%;
    transition: all 0.5s ease 0s;
    width: 100%;
}

#wrapper h1.logo_resp {
    background: rgba(0, 0, 0, 0) url("../img/logo_responsive.png") no-repeat scroll 0 0;
    float: left;
    font-size: 0;
    height: 41px;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -99999%;
    width: 190px;
    margin-left:30%;
}
#wrapper section h1.logo_resp {
    background: rgba(0, 0, 0, 0) url("../img/logo_responsive-gestor-pago.png") no-repeat scroll 0 0;
    float: left;
    font-size: 0;
    height: 41px;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -99999%;
    width: 190px;
    margin-left:30%;
}


.titulos {
    background-color: #003251;
}
select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    color: #494949;
    font-size: 14px;
    height: 30px;
    padding: 5px;
  }
  
  .formulario {
    padding-left: 0;
}
#formulario .btn.btn-success.pull-right {
    margin-left: 5px;
}
#formulario .btn.btn-danger.pull-right {
    margin-left: 5px;
}


#formulario .btn.btn-default.pull-right {
    margin-left: 5px;
}
.cont-tabla .btn.btn-success.pull-right {
    margin-left: 5px;
}

.cont-tabla .btn.btn-default.pull-right {
    margin-left: 5px;
}

.tabla { margin-top:10px; float:none; width:100%;}
.bandeja > col-md-12 tabla { padding-left:0; padding-right:0;}

.table {margin-bottom:0px;/*border: 1px solid #D4D4D4;*/}
.table tbody tr td {
    vertical-align: middle;
}
.viendo {
    float:right;
    margin-right: 10px;
    padding-top: 5px;
	margin-top:10px;
	
}
span.viendo.noresponsive {
    margin-top: 0px;
}
.comando-cuadrado.noresponsive { margin-top:0px; }
.col-md-4.comandos {
    float: left;
}
.col-md-5.izqtabla {
    width: 38%;
    margin-left: 5px;
}
.comando-cuadrado {
    background-color:#e6e6e6;
    float: right;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 30px;
	margin-right:5px;
	margin-top:10px;
}

.comando-cuadrado .fa {
    font-size: 17px;
}

#cuadro_busqueda {
    background-color: #c9c7c7;
    background-image: url("../img/lupa.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    height: 30px;
    text-indent: -9999px;
    width: 35px;
}
.bandeja {
  	background-color: #fff;
    float: left;
    overflow: hidden;
    width: 90%;
}
.estado {
    float: left;
    width: 10%;
}

.estado a{
	padding-left:5px;
	color:#475156;
}
.activo { 
	background-color:#eeeff1;
}

.activo a {
    background-color: #fff;
    display: block;
    height: auto;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

.icono {
	/* background-color: #1d396b; */
    float: right;
    font-size: 14px;
    top: 5px;
}

.icono > p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 5px;
}

.icono > a > .fa {
    color: #449cd3;
}

.icono.apegado {
    margin-left:0;
}

ul > li.active > a > .fa {
    color: #fff;
}
.separador {
    display: flex;
}
.navbar-toggle {
	background-color:#449cd3;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #c33936;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.btn-group button {
    background-color: transparent;
    border: medium none;
}
/*.btn-group.icono button {
    border-right: 1px solid #375587;
}*/
#iconos input, textarea {
    margin-right: -10px;
    padding-right: 0;
	margin-top:0;
	background-color: transparent;
}

.dropdown-menu p {
    text-align:center;
}
#iconografia .dropdown-menu:before {
    position: absolute;
    top: -9px;
    right: 50%;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
#iconografia .dropdown-menu:after {
    position: absolute;
    top: -9px;
    right: 50%;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
    border-left: 9px solid transparent;
    content: '';
}
#iconografia .user-section .dropdown-menu:before {
    right: 42px;
}
#iconografia .user-section .dropdown-menu:after {
    right: 43px;
}
#iconografia .dropdown-menu li {
    text-align: left;
}

.progress {
    width: 100%;
    margin-top: 5px;
	margin-bottom:10px;
}
.vertodas {
	text-align: center;
}

.separadorcarga {
    border-bottom: 1px solid #e6e6e6;
}

.badge { 
	background-color: #d72b2f;
}

.no-leido {
    background-color: #d8efff;
}
.label-fecha {
    display: inherit;
}
.label {
    border-radius: 0;
    color: #000;
    font-size: 14px;
    font-weight: 100;
}
.label-info {
    background-color: #f6f6f6;
}
p.fecha-noti {
    
    color: #54606a;
    padding: 2px;
    width: 80px;
}
p.fecha-noti {
    color: #54606a;
    padding: 2px;
    width: 60px;
    font-size: 12px;
}
.dropdown-menu > li >span > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
#iconografia .dropdown-menu {padding:0;}
ul.toggled {
	transition: all 0.5s ease 0s;
}
#faq {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    float: right;
    padding: 10px;
    position: fixed;
    right: -450px;
    transition: all 0.5s ease 0s;
    width: 320px;	
}
#faq.toggled { right:0!important; }
div.icono > i.fa {
    color: #fff;
}
.btn-group.icono > div {
    height: 30px;
}
#wrapper{transition: all 0.5s ease 0s;}
#wrapper.toggled{ padding-left:45px;}
#elmenu{transition: all 0.5s ease 0s; background-color: #0076c1;}
ul#elmenu.toggled > li > h1.logo{display:none;}
#wrapper.toggled .franjagob{display:none;}
#elmenu.toggled {
    overflow: hidden;
    width: 46px;
}

.dropdown-menu>li.no-leido>a:hover{background-color:#e6e6e6;}
#elmenu.toggled span.notwiew {
    display: none;
}
#elmenu.toggled [data-accordion] > [data-control]::after {
    display: none;
}
.side {
    background-color: #005f9b;
    color: rgba(255, 255, 255, 0.79);
    display: block;
    float: left;
    font-size: 22px;
    height: 31px;
    margin-left: 225px;
    padding: 0 3px;
    transition: all 0.5s ease 0s;
}
.side a { color:#2b4e88;}
.side .fa {
    color: #fff;
    font-size: 27px;
    padding-top: 2px;
}
.side.toggled {
    margin-left: 0;
    width: 46px;
}
#wrapper.toggled .side{margin-left:15px;transition: all 0.5s ease 0s;}
.fa.fa-bars {
    color: #449cd3;
}
h1.logo{
	transition: all 0.5s ease 0s;
}
#elmenu.toggled > li > a > i {
     margin-left: 0;
    padding-right: 30px;
}
ul.toggled {
    margin-top: -19px!important;
}
#login-body {
    background:#FFFFFF!important;   
}
.separador2 {
    border-bottom: 1px solid #ccc;
    display: inline-table;
    height: 2px;
    width: 100%;
}
.well {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.fa-form {
    color: #696969;
    padding-left: 15px;
    padding-top: 9px;
    position: absolute;
}
.form-control.login {
    padding-left: 30px;
}
#ingreso {
    
}
.progress-bar {
	font-size:14px;
}
#elmenu ul.dropdown-menu {
    background-color: #5c6975;
    color: #fff;
    height: auto;
    left: 0;
    margin-right: 5px;
    position: relative;
    width: 98%;
}

#iconografia {
    padding-right: 15px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2040;
}
.masmenos {
    font-size: 20px;
    margin-top: 30px;
    position: absolute;
    right: 25px;
}
.masmenos > a {
    background-color: #e6e6e6;
    padding: 5px;
}
#enizq.toggled{display:none;}
.icono.nombre {
    margin-left: 0;
}

#elmenu a {
    color: #fff;
    display: inline-table;
    padding: 12px;
	padding-left:15px;
    position: relative;
    width: 100%;
	text-decoration:none;
}
#elmenu button {
    background-color: #0076C1;
    border: medium none;
    color: #fff;
    height: 50px;
    padding-left: 15px;
    position: relative;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #068ce1;
}

#elmenu button.active:hover span{
    color: #19346A!important;
}
button.active:hover > span { color:#fff;}
#elmenu a:hover {
    border-left: 9px solid #53bcff;
}

.subitem {
    background-color: #203e70;
    position: relative;
}
#elmenu .subitem > a {
    background-color: #005f9b !important;
    border-bottom: 1px solid rgba(6, 70, 111, 0.56);
}

.ssubitem {
	background-color: #203e70;
}
.subitem .fa {
    font-size: 10px;
	padding-right:5px;
    display: none;
}
.ssubitem > a {
    background-color: #003251;
    border-bottom: 1px solid #06263a !important;
}
.ssubitem a:hover {
    background-color: #003251!important;

}
.ssubitem > button {
    background-color: #5c6975 !important;
}
.ssubitem::after {
    color: #fff;
    /*content: " - ";*/
    left: 16px;
    margin-top: 15px;
    position: absolute;
}
#elmenu li.ssubitem a.active{
   background-color: #003251;
}

.active > span {
    color: #19346a;
    font-weight: bold;
	padding-left:2px;
}
.toggled > h1 {
    display: none;
}
.nav.navbar-nav.side-nav.border-r.toggled {
    top: 30px;
}
.toggled .open > div {
    position: fixed;
    width: 200px;
    z-index: 4000;
}
.toggled .fa-fw {
    font-size: 20px;
	margin-right:10px;
}
#elmenu.toggled a {
    padding-left: 8px;
}
#elmenu.toggled button {
    margin-left: 0;
    padding-left: 8px;
}
a.active > i {
    color: #19346a;
}
button.active > i {
    color:#19346a;
}
.pull-right.sep {
    color: #ccc;
    margin-top: 3px;
}

h3 {
	color:#46647d;
}
.posicion {
    margin: 22px 0 42px 5px;
    position: relative;
}
.posicion a{
    text-decoration: underline;
}
.formulario {
    background-color: #fff;
    margin-top: 20px;
    padding: 17px;
    box-shadow: 0 1px 3px #ccc;
}
input.rut {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 47% !important;
}
select.seleccionador {
    width: 45% !important; margin-right:10px;
}
.formulario label {
/*    display: table; */
    padding: 15px 10px 10px;
    position: relative;
}
.forms button {
    float: right;
    margin: 5px;
    position: relative;
}
.formulario .col-md-1 select {
    width: 100% !important;
}
.formulario .col-md-2 select {
    width: 100% !important;
}
.formulario .col-md-3 select {
    width: 100% !important;
}
.formulario .col-md-4 select {
    width: 100% !important;
}
.formulario .col-md-5 select {
    width: 100% !important;
}
.col-md-3.botones.pull-right {
    margin-top: 0;
}
.col-md-4.botones.pull-right {
    margin-top: 0;
}
.col-md-5.botones.pull-right {
    margin-top: 0;
}
.botones {
    margin-top:45px;
}
.botones a {
    margin: 5px;
}

table.tablesorter thead tr .header {
    background-image: url("../img/bg.gif");
    background-position: right center;
    background-repeat: no-repeat; 
    cursor: pointer;
    vertical-align: middle;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("../img/desc.gif");
}

/*Retoques datetime piker*/

th.picker-switch{ background-color:#e6e6e6; color:#000;}
th.next,.prev{background-color:#e6e6e6; color:#000;}
th.dow{color:#000;}
.bootstrap-datetimepicker-widget{ z-index:4010;}
.bootstrap-datetimepicker-widget table tbody tr td.active
{
    background-color: #367CB7!important;
}
.bootstrap-datetimepicker-widget .datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{
    background: #e6e6e6!important;
    color: black;
}
.bootstrap-datetimepicker-widget .picker-switch.accordion-toggle .table-condensed, .timepicker-picker .table-condensed{
    margin: 0 auto;
    text-align: center; 
}


.TablaResultado > label.pull-right {
    padding: 5px;
}

.btn-default {
    background-color: #fff;
    border-bottom: 2px solid #bdc9d1;
    color: #475156;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #fff;
    border-bottom-color: #0b79b3;
}
.btn { border-radius:0px;}
h4#consultado {
    color: #ff1e32;
    font-weight: bold;
}

#page-wrapper .container-fluid > h2 {
    background: url(../img/fondo-slider.jpg) no-repeat;
    background-size: 100%;
    border-bottom: 1px solid rgba(2, 2, 2, 0.28);
    font-size: 28px;
    height: 100px;
    left: 0;
    margin: 2px 0;
    padding-left: 30px;
    padding-top: 26px;
    position: absolute;
    top: 0;
    width: 100%;
}
.usermodal {
    display: inline-flex;
    float: left;
    margin-right: 10px;
	margin-top:10px;
}
.usermodal .fa {
    font-size: 20px;
    margin-right: 5px;
}
.usermodal > p {
    margin-top: 3px;
}
.formulario-modal {
    overflow: hidden;
}
.modal-footer {
    clear: both;
}
.boton-modal{
	padding:10px;
}
.side-nav { 
overflow:auto;
}


.open[data-accordion] > [data-control]::after {
    transform: rotate(-180deg);
}
[data-accordion] > [data-control]::after {
    background: rgba(0, 0, 0, 0) url("../img/down.png") no-repeat scroll center center / 50% auto;
    color: #444;
    content: "";
    font-size: 25px;
    font-weight: 200;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
}
.botones-tabla a {
    margin-right: 10px;
}	
.botones-tabla input {
    margin-right: 10px;
    margin-bottom: 5px;
}
.boton-modal button {
    margin-right: 5px;
}
.cuerpo {
    background-color: #eeeff1;
    margin-top: 10px;
    padding: 10px;
	overflow:hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.icon-link i {
    font-size: 45px;
}
.cuerpo.icon-link span {
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
}
.user-control .fa-user {
    font-size: 70px;
    padding:5px;
}
.user-control {
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.user-control .nomuser {
    font-size: 20px;
    position: absolute;
    top: 25px;
}
.asigtext {
    font-size: 13px;
    position: absolute;
	top:13px;
}
td > a > .label {
    border-radius: 5px;
    color: #fff;
}

td > a > .label:hover {
	background-color:#54606a;
    color: #fff;
}

.select {
    background: #fff url("../img/flecha_select.png") no-repeat scroll right center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}  
	
.select select {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    height: 34px;
    line-height: 1;
    padding: 5px;
    width: 104%;
}

.container-fluid > h4 {
    border-bottom: 1px solid #ccc;
    color: #475156;
    padding: 5px;
}

.examinar {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: inline-table;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.table-top {
	margin-top:10px;
	
}
.container-form-little {
    background-color: #eeeff1;
    margin-top: 10px;
    overflow: hidden;
    padding: 17px;
    height: auto;
}
.modal-lg.especial {
    width: 763px!important;
}
.aula {
    background-color: #449cd3;
    border: 1px solid #c6c6c6;
    padding: 10px;
    text-align: center;
}
.aula a {
	color:#fff;
	text-decoration:none;
}
.aula a:hover {
	background-color:#ccc;
}
.aula:hover {
	background-color:#ccc;
}
.preg-frec {
    font-size: 18px;
}
.usuario-modal > .fa.fa-user {
    font-size: 60px;
}
.observaciones {
  
    height: auto;
    min-height: 50px;
    padding: 10px;
    width: 100%;
}

.username {
    display: flex;
}
.username .fa {
    font-size: 16px;
}
.username > p {
    padding-left: 5px;
}
.row.obdown {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding: 10px;
}

.collapse.in {
    margin-bottom: 10px;
}
.pregunta {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    padding: 5px;
    width: 100%;
}
.pregunta > .fa.fa-sort-desc {
    float: right;
    font-size: 20px;
    margin-right: 8px;
}
.btn-success {
    background-color: #3b69b4;
    border-bottom: 2px solid #004c85;
    color: #fff;
    font-weight: normal;
    
}
.btn-danger {
    border-bottom: 2px solid #992D2D;
    border-left: 0;
    border-right: 0;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-color: rgba(236, 105, 101, 0.89);
    border-top: 1px solid rgb(237, 120, 116);
    color: #fff;
}

.bandeja > .container-fluid > .col-md-12.tabla {
    padding-left: 0;
    padding-right: 0;
}
.form-control { border-radius:0px;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-radius: 0;
}

.celeste {
    background-color: #d8efff;
}
h4.cetit {
    line-height: 30px;
}
 .opciones {
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}  
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success.focus[disabled], fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active, .btn-danger[disabled], .btn-danger:focus[disabled], .btn-danger:active[disabled],.btn-danger:hover[disabled], .btn-primary[disabled], .btn-primary:hover[disabled], .btn-primary:focus[disabled] {
    background: #ccc;
    border-color: #ccc;
    border: 0;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success{
	background-color: #1a4995;
    border-bottom-color: #003b68;
    color: #fff;
	}
	
/*Solo para el iframe, sacar despuÃƒÂ©s estas lineas de codigo*/
.form-feedback {
    bottom: 0;
    position: fixed;
    right: 14px;
    z-index: 1000;
}
.form-feedback > a {
    background-color: #5686d6;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 15px;
    opacity: 0.5;
    padding: 5px;
    text-decoration: none;
}
	
.cont-tabla {
    background-color: #f7f7f7;
    margin-top: 10px;
    overflow: hidden;
    padding: 17px;
}
	
@media screen and (max-width:767px){
	.col-md-5.izqtabla {
    margin-left: 5px;
    width: 100%;
}
    .posresponsive .user-section {
    margin-top: 4px;
}	
	div#iconografia {
   
    z-index: 1040!important;
}
.menucontainer {
    margin-top: 0px!important;
    z-index: 5040!important;
}
	.noresponsive{ display:none;}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #e6e6e6;
}
	.navbar-toggle {
    background-color: #fff;
}
	.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #2a5196;
}
	nav.navbar.navbar-inverse.navbar-fixed-top .collapse.navbar-collapse.navbar-ex1-collapse, .navbar-inverse {
		background-color:#fff;
        margin: 0;
    }
	#iconos input, button, textarea {
	margin-top:0px;
	
}
	#page-wrapper .container-fluid > h2 { 
	margin-top:25px;
	font-size:17px;
	padding-left:20px;
	height:70px;
	}
.posicion {
    margin-top: 70px;
    background-color: #f6f6f6;
    padding: 10px;
    margin-left: 0;
	}
	
.pull-right.sep {
    display:none;
}
.resp_icons {
    float: right;
    margin-top: -40px;
    position: absolute;
    right: 55px;
}
#page-wrapper {
   top: -50px;
}
.side{
	display:none;
}
.estado {
    display: table;
    float: left;
    width: 100%;
}
.bandeja{ width:100%;}
div#iconografia {
    background-color: #1d396b;
    height: 43px;
    position: fixed;
    right: 0;
    top: 51px;
    width: 100%;
    z-index: 2040;
}
#page-wrapper .container-fluid > h1{ padding-top:32px;}
.menucontainer {
    margin-top: 43px;
}
#page-wrapper .container-fluid > h2 { background:#fff!important;}
.bandeja select {
    width: 100%;
    margin-bottom: 10px;
}
.bandeja a.btn.btn-default {
    float: right;
}
.posresponsive {
    margin: 0 auto;
    position: relative;
    width: 200px;
}
.icono {
    font-size: 27px;
    top: 0px;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.posresponsive { width:100%;}
.posresponsive .icono{ padding-right:14px;}
#ender{display:none;}
#enizq{display:none;}
#iconografia .dropdown-menu {
	margin-top: 15px;
    right: 0;
    overflow: auto;
    max-height: 300px;
    min-width: 210px;
	}
#elmenu a {
    width: 100%;
    }
#elmenu button {
    width:100%;
    }

.separador{display:none;}
    }

@media screen and (max-width:480px){
	#wrapper h1.logo_resp {
    margin-left: 23%;
    }
#iconografia .dropdown-menu {
    margin-top: 15px;
    /*right: -72px !important;*/
    width: 250px;
    }
#page-wrapper .container-fluid > h2 { 
	font-size:16px;
	}
}
/* Estilos Sergio */

.acordeon-content {
    margin: 13px;
}
.controls div{
    text-align: center;
    margin: 5px 0;
}
.aling-container select {
    min-height: 300px;
}
.bloque-wrapper {
    margin-top: 10px;
    padding: 5px;
}

.boton-inline  {
    margin-top:23px;
}
button .fa {
    margin-left: 5px;
    vertical-align: middle;
}
button[disabled], button[disabled]:hover, button[disabled]:active {
    background-color: #ccc!important;
    color: #fff;
}
input.btn-warning:focus[type="button"] {
    background-color: #f0ad4e!important;
}
.campo-none {
    display: none!important;
}
.centered-div {
    margin-top: 4%;
}
.col-md-6 h4 {
    border-bottom: 0;
}
.colapsado .subitem, .colapsado .ssubitem{
    display: none;
}
.cont-tabla {
    overflow: visible;
}
.container-fluid h3 {
    font-size: 20px;
}
.controls .fa {
    text-align: center;
    padding: 10px 0;
}
[data-accordion] > [data-control].active::after, [data-accordion] > [data-control].active:hover::after {
    background: rgba(0, 0, 0, 0) url("../img/down-black.png") no-repeat scroll center center / 50% auto;
    color: #444;
    content: "";
    font-size: 25px;
    font-weight: 200;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
}
.dropdown, .dropup {
    position: relative;
}
.dropdown-menu li a {
    color: #919191;
    padding: 7px 20px;
}
.dropdown-menu li a:hover {
    background-color: #e0e7f3;
    color: #0076c1;
}
h5 {
    font-size: 16px;
}
#iconografia ul.dropdown-menu li h4 {
    color: #003251;
    padding: 4px 20px;
}

.formulario-tabs {
    background-color: #fff;
    padding: 17px;
    box-shadow: 0 1px 3px #ccc;
}
.formulario-tabs-container {
    margin-top: 20px;
}

.formulario-tabs-container ul li a:hover {
    border-bottom: 0;
    border: 0;
}
#iconografia .btn-group {
    cursor: pointer;
}
#iconografia .icono {
    color: white;
}
#iconografia .nombre {
    font-style: normal;
    padding: 0 20px;
}

/* modales */

iframe {
    position: relative;
    width: 100%;
}
.input-sm {
    display: inline;
    width: 80px;
}
.input-group.date .input-group-addon{
    border-top: 0;
    border-bottom: 1px solid #9ea5a9;
    border-right: 0;
    background: transparent;
}
td a .label {
    border-radius: 0!important;
}

a.deshabilitado, a.deshabilitado:focus, a.deshabilitado:hover{
    background: transparent!important;
    border-color: #7b7b7b!important;
    color: #7b7b7b!important;
    cursor: not-allowed;
    opacity: .65;
}

.label-primary {
    background-color: transparent;
    border: 1px solid #337ab7;
    color: #337ab7!important;
}
.label-primary:hover {
    background-color: #337ab7!important;
    color: white!important;
    cursor: pointer;
}
.label-primary:focus {
    color: white!important;
}
/*Errores validacion*/
.lightbox-contenedor {
    position: fixed;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    display: none;
    background-image: url(../img/imagen-falsa.gif);
    background-size: 100% 100%;
    /*background-color: rgba(0, 70, 108, 0.9);*/
}
.lightbox-contenedor > .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.lightbox-contenedor > .wrapper span {
    color: white;
}
.lightbox-contenedor > .wrapper:before {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.lightbox-contenedor > .wrapper .lightbox {
    vertical-align: middle;
    display: inline-block;
}
.lightbox-contenedor .lightbox {
    color: white;
    background-color: #1D396B;
    border-radius: 3px;
    text-align: left;
    max-width: 98%;
    max-height: 98%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 1.5em;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.lightbox-contenedor .lightbox .cerrar {
    position: absolute;
    top: 0.3em;
    left: auto;
    width: 1em;
    height: 1em;
    z-index: 99;
    right: 0.3em;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2em;
}
.lightbox-contenedor .lightbox .cerrar i {
    opacity: 0.75;
    cursor: pointer;
    -webkit-transition: transform 0.2s, opacity 0.2s;
    -moz-transition: transform 0.2s, opacity 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    -ms-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
.lightbox-contenedor .lightbox .cerrar i:hover {
    opacity: 1;
    transform: scale(1.1);
}
.lightbox-contenedor .lightbox .cerrar i:active {
    transform: scale(0.95);
}
.block-izquierda {
    padding-left: 0;
}

.selectarchivo {
    padding: 2em 1em;
}
.mensaje-error {
    background: none;
    border: none;
    color: red;
    margin: 0;
    padding: 0 5px;
}

.modal-dialog{
    overflow-y: initial!important;
}
.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}

.modal-body [class*="col-"] {
   padding-bottom: 8px;
   padding-top: 8px;
}
.modal-error h1{
    font-size: 25px;
    text-align: center;
}
.navbar-header {
    background-color: #fff; 
}
.nav-tabs li a, .nav-tabs li a:hover {
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
}
.padding-top {
    padding-top: 12px;
}

select:disabled {
    background-color: #EFEFEF;
    border: 1px solid #ECECEC;
    color: #969696;
    cursor: not-allowed;
}
select.seleccionador {
    width: 100% !important; margin-right:10px;
}
/*
.subitem {
    visibility: visible!important;
     position: relative;
     overflow: visible;
}
.subitem a{
    visibility: visible!important;
     position: relative;
     overflow: visible;
}
.open div[data-content]{
    visibility: visible;
    overflow: visible!important;
    position: relative;
    max-height: auto!important;
.open {
    visibility: visible;
     position: relative;
     overflow: visible;

}
}*/
#elmenu {
    overflow-y: auto;
}
#elmenu a{
   border-bottom: 1px solid #068ce1;
   transition: all 0.2s ease 0s;
}
#elmenu button {
    padding-right: 17px;
    transition: all 0.2s ease 0s;
}
#elmenu button.active{
    background-color: #ededed;
    border-left: 9px solid #53bcff;
    color: #19346a;
    font-weight: bold;
}
#elmenu button.active:focus span{
  color: #19346a;
}
#elmenu button:focus {
   border-left: 9px solid #53bcff;
}
#elmenu button:hover {
    border-left: 9px solid #53bcff;
}
#elmenu .fa {
    font-size: 21px;
    margin: 0px 9px 0px 2px;
    vertical-align: middle;
}
#elmenu ul, #elmenu li {
    list-style: none;
    padding-left: 0;
}
.input-margin input[type="text"], .extra-margin {
    margin: 15px 10px 10px;
}
.open button{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.14);
    z-index: 1;
}
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {
    background-color: #dbdbdb;
    border: none;
    color: #b6b6b6;
    cursor: not-allowed;
    padding: 7px 12px;
}
#tabla_info {
    color: rgb(128, 128, 128);
}
#tabla_filter, .dataTables_filter {
    display: none;
}
.tablas-modales {
    margin-top: 0;
}
.tablas-modales .row:nth-child(1) {
   display: none;
}

.table-responsive .row{
     margin-right: 0;
     margin-left: 0;
}
.table-responsive .row{
     margin-right: 0;
     margin-left: 0;
}
.table-responsive .row [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.table-selection tbody tr td:hover{
    background-color: #F3F3F3;
    cursor: pointer;
}
.table-selection tbody tr td:focus, .table-selection tbody tr td:active{
    border: 1px solid rgba(51, 122, 183, 0.63);
}
.table thead tr th {
    vertical-align: middle;
}
td .bootstrap-datetimepicker-widget {
    position: fixed;
}
td .date {
    width: 170px;
}
textarea {
    margin-bottom: 5px;
}

.title-section {
    border-bottom: 0!important;
}
.toggled .fa {
    font-size: 18px;
    margin-left: 3px;
}
.toggled .fa-angle-double-right {
    font-size: 25px;
}
@media screen and (max-width: 767px){
    .modal-dialog {
        margin-top: 100px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        overflow: auto;
    }
    .navbar-nav {
        margin: 0 -15px; 
    }
    .menu-expandido {
        height: 100%;
        background-color: #0076C1;
    }
}

@media screen and (min-width: 768px){
    #page-wrapper .container-fluid > h2 { 
        color: #fff;
    }
    .posicion {
        color: #fff;
    }
    .posicion a{
        color: #7CC3FF;
    }
    #elmenu {
        border-right: 1px solid rgba(2, 2, 2, 0.28);
    }
    #iconografia .dropdown-menu {
    float: right!important;
    height: auto;
    right: 2px!important;
    width: 320px; 
    }
    #iconografia span.icono .fa {
        font-size: 17px;
        vertical-align: middle;
    }
    #iconografia span.icono {
        margin: 0 3px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1190px){
    #page-wrapper .container-fluid > h2 {
        font-size: 27px;
    }
}
@media screen and (min-width: 1190px){
    .modal-big {
        width: 744px
    }
}
@media screen and (min-width: 1200px){
    .centered-div {
    margin-top: 128px;
    }
}

/* Estilos UI KIT*/
.btn {
    border-radius: 2px;
    /*border-left: 0;
    border-right: 0;*/
    font-family: gobCLRegular, Verdana;
}
.btn-success,
.btn-success:focus, .btn-primary, .btn-primary:focus {
    color: #fff;
    border-top: 1px solid #67a8d5;
    border-bottom: 2px solid #2d6e99;
    background: #3a8fc8;
    background: -moz-linear-gradient(top, rgba(58, 143, 200, 1) 0%, rgba(56, 140, 196, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58, 143, 200, 1)), color-stop(100%, rgba(56, 140, 196, 1)));
    background: -webkit-linear-gradient(top, rgba(58, 143, 200, 1) 0%, rgba(56, 140, 196, 1) 100%);
    background: -o-linear-gradient(top, rgba(58, 143, 200, 1) 0%, rgba(56, 140, 196, 1) 100%);
    background: -ms-linear-gradient(top, rgba(58, 143, 200, 1) 0%, rgba(56, 140, 196, 1) 100%);
    background: linear-gradient(to bottom, rgba(58, 143, 200, 1) 0%, rgba(56, 140, 196, 1) 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3a8fc8', endColorstr='#388cc4', GradientType=0);*/
}
.btn-primary:active,
.btn-primary:focus,
.btn-success.active,
.btn-success:active:focus {
    background: #042438;
    border-top: 1px solid #031521;
    border-bottom: 2px solid #031521;
}
.btn-success:hover, .btn-primary:hover {
    background: #52b1dd;
    background: -moz-linear-gradient(top, rgba(82, 177, 221, 1) 0%, rgba(79, 171, 217, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82, 177, 221, 1)), color-stop(100%, rgba(79, 171, 217, 1)));
    background: -webkit-linear-gradient(top, rgba(82, 177, 221, 1) 0%, rgba(79, 171, 217, 1) 100%);
    background: -o-linear-gradient(top, rgba(82, 177, 221, 1) 0%, rgba(79, 171, 217, 1) 100%);
    background: -ms-linear-gradient(top, rgba(82, 177, 221, 1) 0%, rgba(79, 171, 217, 1) 100%);
    background: linear-gradient(to bottom, rgba(82, 177, 221, 1) 0%, rgba(79, 171, 217, 1) 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#52b1dd', endColorstr='#4fabd9', GradientType=0);*/
    border-top: 1px solid #7ac3e5;
    border-bottom: 2px solid #2d6e99;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
textarea {
    border-radius: 0;
    background: #FFF;
    color: #272727;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-left: 1px solid #c9ced2;
    border-bottom: 1px solid #9ea5a9;
    line-height: 2.2;
    font-size: 14px;
}

input.con-error[type="email"],
input.con-error[type="number"],
input.con-error[type="password"],
input.con-error[type="tel"],
input.con-error[type="url"],
input.con-error[type="text"],
select.con-error,
textarea.con-error {
    background-color: #fdefec;
}
input:hover[type="email"],
input:hover[type="number"],
input:hover[type="password"],
input:hover[type="tel"],
input:hover[type="url"],
input:hover[type="text"], 
select:hover,
textarea:hover {
    border-left: 2px solid #0a567f !important;
}
input:active[type="email"],
input:active[type="number"],
input:active[type="password"],
input:active[type="tel"],
input:active[type="url"],
input:active[type="text"],
input:focus[type="email"],
input:focus[type="number"],
input:focus[type="password"],
input:focus[type="tel"],
input:focus[type="url"],
input:focus[type="text"],
select:focus,
select:active,
textarea:focus,
textarea:active {
    border-color: transparent !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #f5f8f9 !important;
    border-left: 2px solid #0a567f !important;
    border-bottom: 1px solid dodgerblue !important;
}
input.disabled, .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus  {
    background: #DBDBDB;
    border:0;
    color: #fff;
}
input [type="submit"][disabled]{
    color: #fff;
}

input[disabled], textarea[disabled] {
    background-color: #ccc !important;
    border: 0;
    box-shadow: none;
}
input[type="submit"][disabled]:focus, input[type="submit"][disabled]:hover{
    border-left: 0!important;
    color: #fff;
}
select.form-control, textarea.form-control{
    border-radius: 0;
    border: 1px solid #9ea5a9;
    border-top: none;
    border-right: none;
    box-shadow: none;
}
/*Fin estilos UI KIT*/
/*Fin estilos Sergio*/


/*Estilos Mario*/

.formulario .dos {
    display: table;
    padding: 1px;
    position: relative;
}
.margen-abajo{
    margin-bottom: 24px;
}
.input-group-addon{
    cursor:pointer;
}
.icono_centrar{
    margin-right: 3em !important;
}
.mariotty{
    margin: 0 auto;
}
/*Fin Estilos Mario*/


/*Estilo activo en menÃƒÂº lateral*/


#elmenu li a.active:hover,
#elmenu li a.active:active{
    color: #fff;
}

#elmenu > ul > li a.active,
#elmenu > ul > li li a.active:active{
    background-color: #ededed;
    border-left: 9px solid #53bcff;
    font-weight: bold;
}

/* AFP.CSS */

/* Todas */
a{outline:none}
#page-wrapper .container-fluid>h1{margin-bottom:50px;}
#cf-gob{background:#ff1e32;height:5px;margin:-20px auto 0;}
#cf-gob span{display:block;background:#005aae;width:46.2962962963%;float:left;height:100%;}
.navbar-header #cf-gob {
    margin-top: 0;
    position: relative;
    width: 216px;
    z-index: 10;
}
a.navbar-brand.franjagob{padding:0px!important;text-align:center;}
.wrap{float:left;clear:both;padding:0}
.clear{clear:both;}
.ml-xs{margin-left:10px;}
table a{text-decoration: none!important}
.filler{display:block;overflow:hidden;}
/* Login */
#login-body{background:url(../img/bg-login.png);height:100%;width:100%;}
#login{width:340px;margin:auto;overflow:hidden;}
#login h1{font-size:40px;text-align:center;}
#login input{margin-bottom:10px;}
.g-recaptcha{margin-bottom:7px;}
#olvido{float:left;display:block;height:34px;line-height:34px;}
#ingreso{float:right;}
#ingreso:focus,#ingreso:hover{}
.navbar-brand.franjagob:hover,.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{background-color:#fff!important;color:inherit!important;}
/* Beneficios */
.orange {border-left: solid #ca462d 6px;background-color: #f1ebed;padding:40px 0 40px 40px}
h3.respuestaConsulta {color: #e76111;}
p.infoBox {font:13pt 'gobCLRegular';color: #5b5b5f;}
.green {overflow:hidden;border-left: solid #5fa098 6px;background-color: #fafafa;padding:40px 0 40px 40px}
/* Usuarios */
h1 .small{font-size: 45%;}
h1 a{margin-left:40px;}
h1 a:hover{text-decoration: none}
div.modal-body.select .controls{width:15px;float:left;height:100px;float:left;margin: 85px 10px 0;}
div.modal-body.select .controls a{display:block;margin:20px 0;}
div.modal-body.select select{width:45.5%!important;height:300px;}
@media(max-width: 767px){.navbar-brand.franjagob{display:none;}}
/* Cargar Datos */
#upload{float:left;padding:6px 10px;}
.form-group.well p{padding:0 10px;}
.separate{padding:5px 20px;}
#accordion .badge{float:right;}
#accordion .panel-heading{padding:0px!important;}
#accordion a.list-group-item{border:none;}
/* Ingreso Reclamos */
.push-top{margin-top:25px;}
/* Consulta Reclamos */
.modal-body.no-padding .panel-heading{padding:0px!important;}
/* Agregados */
.hide{display:none}
.show{display:block}
.top-nav>li>a{color:#fff!important}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus{background:#3a5a8c!important;}
.side-nav{height:100%;}
.fa-bl{font-size:0.5em;position: relative;top:-2px;margin-right:4px;}
/* Header nuevo */
#page-wrapper{position:relative;}
.container-fluid{padding-top: 30px}
#page-wrapper .container-fluid>h1{ background: #bfcee5 url("../img/header-bg.png") no-repeat scroll 380px center;position: absolute;top: 0;left: 0;margin: 2px 0px;width: 100%;height: 104px;line-height: 92px;background-color:#fff;color:#46647d;padding-left: 30px}
.dropdown .flecha-menu{background: url(../img/menu-down.png) no-repeat center center;display: inline-block;height: 20px;width: 20px;position: relative;top: 6px;left: 6px;margin-left:5px;}
.dropdown .fa-user{margin-right: 15px}
/* TipoReporte */
#chartContainer{height:400px;margin:10px auto;}
h3.no-margin{margin:4px 10px 0 0;}
/*Graficos escritorio*/
/*Estilo activo en menÃº lateral*/
#elmenu li a.active{
    font-weight: bold;
    border-left: 9px solid #53bcff;
    background: #ededed;
} 

#elmenu li.subitem a.active{
    border-left: 10px solid #53bcff;
} 
#menu-org-1, #menu-org-2, #menu-org-1, #user-org-1, #user-org-2 {
    overflow: auto;
}

/*bajadas de grÃ¡ficos Chart.js*/
.portlet-legend ul{
    border-top: 1px solid #ddd;
    color: #777;
    list-style: none;
    margin: 0;
    padding: 10px 5px;
}   

.portlet-legend ul li span[style]{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px; 
}

.portlet-legend li:nth-of-type(1):nth-last-of-type(2),
.portlet-legend li:nth-of-type(2):nth-last-of-type(1){
    width: 50%;
    float: left;
    text-align: center;
    padding: 2px 10px;
}

.portlet-legend li:nth-of-type(1):nth-last-of-type(3),
.portlet-legend li:nth-of-type(2):nth-last-of-type(2),
.portlet-legend li:nth-of-type(3):nth-last-of-type(1){
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 2px 10px;
}

.portlet-legend li:nth-of-type(1):nth-last-of-type(4),
.portlet-legend li:nth-of-type(2):nth-last-of-type(3),
.portlet-legend li:nth-of-type(3):nth-last-of-type(2),
.portlet-legend li:nth-of-type(4):nth-last-of-type(1){
    width: 25%;
    float: left;
    text-align: center;
    padding: 2px 10px;
}

.radio label, .checkbox label {padding: 15px 10px 10px; padding-left: 20px; display: inline-block;}

.caluga-destinatario {
    padding: 10px;
    background: #f0f2f7;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.caluga-destinatario .fa {
    margin-left: 7px;
    cursor: pointer;
}

.caluga-destinatario.con-error {
    background: #F3E8E8;
}

.caluga-destinatario.con-error span.error {
    border-bottom: 2px dotted red;
}

.integrante {
    margin-bottom: 6px;
    padding: 6px 0;
    border-radius: 3px;
}

.integrante:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}

.integrante .imagen-perfil {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    margin-left: 10px;
}

.integrante .imagen-perfil img {
    display: block;
    width: 100%;
}

.integrante .nombre-usuario {
    float: left;
}

.integrante .nombre-usuario h4 {
    margin-top: 15px;
    font-size: 15px;
}

.direct-chat-messages.mensajes-grupo {
    height: auto;
    min-height: 250px;
    max-height: 72vh;
}

.direct-chat-messages.mensajes-grupo .direct-chat-info {
    border-bottom: 2px solid #eee;
}

.direct-chat-messages.mensajes-grupo .direct-chat-msg {
    margin-top: 20px;
}

.direct-chat-messages.mensajes-grupo .direct-chat-msg.right .direct-chat-text {
    margin: 5px 50px 0 0px;
    float: none !important;
    background: #BEDEB0;
    border-color: #85DC90;
}

.direct-chat-messages.mensajes-grupo .direct-chat-msg.right .direct-chat-text:before {
    position: absolute;
    left: 100%;
    top: 15px;
    border: solid transparent;
    border-left-color: #85DC90;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-messages.mensajes-grupo .direct-chat-msg.right .direct-chat-text:after {
    content: none;
}