.modal-backdrop {
    z-index: -1 !important;
}

.inputInvalid {
	border-color:red !important;
}

.inputInvalid input {
	border-color:red !important;
}

.titulosHeader thead tr th {
	background-color: #003251;
}

.button-column{
	background: transparent;
    border: none !important;
    color: #23527c;
    box-shadow: none;
	font-weight: unset;
}