<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<script type="text/javascript">

				function showExportar(){
					$('#confirmacionExportar').modal()
					$('#confirmacionExportar').modal({ keyboard: false })
					$('#confirmacionExportar').modal('show')
				}
				<!-- No eliminar, función llamada desde el controlador-->
				function showComentario(){
					$('#guardarComentario').modal()
					$('#guardarComentario').modal({ keyboard: false })
					$('#guardarComentario').modal('show')
				}
			</script>
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Atención al Pensionado</h2>
					<div class="posicion">Inicio/ Procesos > Atención al Pensionado</div>
					<h:form id="contenidoform">
						<div class="formulario">
							<div class="row">
								<div class="col-md-6">
									<h3>Ingrese RUN para realizar la consulta:</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4 requiredBlock">
									<label>
										<h:outputText value="#{msg['informe.movimiento.run.run']}"/>
									</label>
									<h:inputText id="inputRutTest" placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
												 value="#{atencionPensionadoView.run}" onblur="formatoRut('inputRutTest')" onFocus="formatoRut('inputRutTest')" maxlength="12"
												 required="true" styleClass="form-control ingresarRun #{component.valid?'':'inputInvalid'}" requiredMessage="Debe ingresar un Run">
										<f:validator validatorId="cl.gob.ips.exencion.common.validator.RutValidator"/>
									</h:inputText>
									<h:message id="inputRutTestError" for="inputRutTest" style="color: red"/>
								</div>
								<div class="col-md-8">
									<div class="pull-right botones">
										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.buscar']}" iconAwesome="fa fa-search" onclick="$('.modalBlockUI').modal()"
														 action="#{atencionPensionadoView.buscarPensionado()}" />


										<b:commandButton value="#{msg['general.boton.label.limpiar']}" styleClass="btn btn-default"
														 style="margin-left:5px;" update="contenidoform" process="@this" actionListener="#{atencionPensionadoView.limpiar()}"  />
									</div>
								</div>
							</div>
						</div>
						<!-- cont-tabla1-->
						<h:panelGroup id="panelData" rendered="#{atencionPensionadoView.mostrarGrilla}">
							<div class="cont-tabla">
								<h3>Datos Personales</h3>
								<b:row>
									<b:column smallScreen="4">
										<h:outputLabel id="inputNombreLabel" for="inputNombre" value="#{msg['institucion.formulario.nombre.label']}"/>
										<h:inputText id="inputNombre" value="#{atencionPensionadoView.nombre}" disabled="true" style="width:100%; cursor:not-allowed;">
										</h:inputText>
									</b:column>
									<b:column smallScreen="4">
										<h:outputLabel id="inputFecNacLabel" for="inputFecNac" value="Fecha de Nacimiento"/>
										<h:inputText id="inputFecNac" placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
													 value="#{atencionPensionadoView.fechaNacimiento}" disabled="true" style="width:100%; cursor:not-allowed;">
										</h:inputText>
									</b:column>
									<b:column smallScreen="2">
										<h:outputLabel id="inputEdadLabel" for="inputEdad" value="Edad"/>
										<h:inputText id="inputEdad" placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
													 value="#{atencionPensionadoView.edad}" disabled="true" style="width:100%; cursor:not-allowed;">
										</h:inputText>
									</b:column>
									<b:column smallScreen="2">
										<h:outputLabel id="inputEstadoLabel" for="inputEstado" value="Estado"/>
										<h:inputText id="inputEstado" placeholder="#{msg['informe.movimiento.run.run.placeholder']}"
													 value="#{atencionPensionadoView.estado}" disabled="true" style="width:100%; cursor:not-allowed;">
										</h:inputText>
									</b:column>
								</b:row>
								<hr/>
								<h3>Respuesta</h3>
								<b:row>
									<div class="col-md-4">
										<label style="color: green">
											<h:outputText value="#{atencionPensionadoView.respuesta}"/>
										</label>
									</div>
									<div class="col-md-4">
										<p><strong>Institución Pagadora</strong>:<h:outputText value=" #{atencionPensionadoView.institucionPagadora}"/></p>
									</div>
								</b:row>
								<hr/>
								<b:row>
									<div class="col-md-10">
										<label for="inputObservacion">Agrega una observación</label>
										<b:inputTextarea  id="inputObservacion" rows="2"  class="form-control" placeholder="Ingresa un comentario"
														  maxlength="250" value="#{atencionPensionadoView.observacion}" >
										</b:inputTextarea>
										<h:message id="inputObservacionError" for="inputObservacion" style="color: red"/>

									</div>
									<div class="col-md-2 botones">

										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.guardar']}" onclick="$('.modalBlockUI').modal()"
														 action="#{atencionPensionadoView.guardar()}" />

									</div>
								</b:row>
							</div>
							<!--/.cont-tabla1-->
							<!-- cont-tabla2-->
							<div class="cont-tabla" id="panel2">
								<h4>Respuestas Anteriores</h4>
								<div class="pull-right">
									<b:commandButton styleClass="btn btn-success pull-right" value="#{msg['general.boton.label.exportar']}" onclick="showExportar();"
													 action="#{atencionPensionadoView.obtenerExcel()}" />
								</div>
								<div class="tabla table-responsive">
									<b:dataTable id="dataTableRespuestas" value="#{atencionPensionadoView.atencionPensionadoDTO}"
												 var="pensionado" lang="es" responsive="true" select="false">
										<!-- columnas -->
										<b:dataTableColumn value="#{pensionado.fecha}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText value="#{msg['atencion.pensionado.tabla.fecha']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{pensionado.periodo}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['atencion.pensionado.tabla.periodo']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{pensionado.respuesta}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['atencion.pensionado.tabla.respuesta']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{pensionado.observacion}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['atencion.pensionado.tabla.observacion']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{pensionado.institucionPagadora}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['atencion.pensionado.tabla.inst.pagadora']}" />
											</f:facet>
										</b:dataTableColumn>
										<b:dataTableColumn value="#{pensionado.usuario}" header-style-class="titulos">
											<f:facet name="header">
												<h:outputText
														value="#{msg['atencion.pensionado.tabla.usuario']}" />
											</f:facet>
										</b:dataTableColumn>
									</b:dataTable>
								</div>
							</div>
							<!--/.cont-tabla2-->
						</h:panelGroup>
					</h:form>
				</div>
				<!--/.container-fuild-->
			</div>
			<div class="modal fade"  id="confirmacionExportar" style="z-index: 9999;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
							<h2 class="modal-title">#{msg['general.label.exportar.excel']}</h2>
						</div>
						<div class="modal-body">
							<div class="barra-menu">
								#{msg['general.label.exportar.excel.texto']}
								<div class="modal-footer">
									<h:form>
										<button type="button" class="btn btn-default"
												data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
									</h:form>
								</div>
							</div>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>

			<div class="modal fade" id="guardarComentario" style="z-index: 9999;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
							<h2 class="modal-title">#{msg['general.label.guardar.comentario']}</h2>
						</div>
						<div class="modal-body">
							<div class="barra-menu">
								#{msg['general.label.guardar.comentario.texto']}
								<div class="modal-footer">
									<h:form>
										<button type="button" class="btn btn-default"
												data-dismiss="modal">#{msg['general.boton.label.cerrar']}</button>
									</h:form>
								</div>
							</div>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
