<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:body>
        <ui:composition template="/template/common/layout.xhtml">
            <ui:define name="content">
                <div id="page-wrapper">
                    <div class="container-fluid">
                        <h2>Carga Selectiva de Archivo</h2>
                        <div class="posicion">Inicio/ Procesos > Carga Selectiva de Archivos</div>
                        <h:outputLabel value="#{cargaSelectivaArchivosView.periodoCarga}" />
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>