<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<div id="page-wrapper">
				<h:form id="form">

					<div class="container-fluid">
						<h2>Cierre de Periodo</h2>
						<div class="posicion">Inicio/ Procesos > Cierre de Periodo</div>
						<div class="formulario">
							<div class="row">
								<div class="col-md-6">
									<h3>Cierre de periodo de Concesión</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4 requiredBlock">
									<label for="fecha">Periodo de concesión</label>
									<div class='input-group date' id='fechaperiodo'>


										<b:dateTimePicker id="fecha" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
														  styleClass="#{component.valid?'':'inputInvalid'}" format="YYYY/MMMM" required="true"
														  requiredMessage="Debe ingresar un periodo" value="#{cierrePeriodoView.periodoCerrar}"
														  onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
										<h:message id="datePeriodoDesdeError" for="fecha" style="color: red"/>


										<!--<b:inputText class="form-control" id="fecha" value="#{cierrePeriodoView.periodoActual()}" disabled="true"/>-->

									</div>
								</div>
								<div class="col-md-8">
									<div class="pull-right botones">
										<!-- aquí está el mismo boton en estado desabilitado-->
										<!--<input class="btn btn-success" value="Generar" disabled type="submit">-->
										<!-- termina boton en estado desabilitado-->

										<b:commandButton styleClass="btn btn-success" value="#{msg['cierre.periodo.label.boton']}" onclick="$('.modalBlockUI').modal()"
														 action="#{cierrePeriodoView.cerrarPeriodo}" />

									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.container-fuild-->
				</h:form>

			</div>


			<!-- No eliminar, función llamada desde el controlador-->
			<script>
				function showCerrarConfirm() {
					$('#modalCerrar').modal();
					$('#modalCerrar').modal({
						keyboard : false
					});
					$('#modalCerrar').modal('show');
				}
			</script>
			<div class="modal fade" id="modalCerrar" style="z-index: 9999;" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">Cerrar periodo</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<p>Se ha cerrado el periodo exitosamente.</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
						</div>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>