<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:b="http://bootsfaces.net/ui">
<h:body>
	<ui:composition template="/template/common/layout.xhtml">
		<ui:define name="content">
			<div id="page-wrapper">
				<div class="container-fluid">
					<h2>Nóminas para las Instituciones</h2>
					<div class="posicion">Inicio/ Procesos > Nóminas para las
						Instituciones</div>
					<h:form id="formrun">
						<div class="formulario">
							<div class="row">
								<div class="col-md-6">
									<h3>Generación de nóminas</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4 requiredBlock">
									<label for="fecha">Periodo de concesión</label>
									<div class='input-group date' id='fechaperiodo'>

										<b:dateTimePicker id="fecha" minDate="1990/01/01" maxDate="#{baseControllerView.fechaLimite}"
														  styleClass="#{component.valid?'':'inputInvalid'}" format="YYYY/MMMM" required="true"
														  requiredMessage="Debe ingresar un periodo" value="#{nominasInstitucionesView.periodo}"
														  onclick="#{baseControllerView.validarMaxPeriodoActual()}"/>
										<h:message id="datePeriodoDesdeError" for="fecha" style="color: red"/>

									</div>
								</div>
								<div class="col-md-8">
									<div class="pull-right botones">
										<b:commandButton styleClass="btn btn-success" value="#{msg['general.boton.label.generar']}" onclick="$('.modalBlockUI').modal()"
														 action="#{nominasInstitucionesView.generar}" />
									</div>
								</div>
							</div>
						</div>
					</h:form>
				</div>
			</div>

			<!-- No eliminar, función llamada desde el controlador-->
			<script>
				function showGenerarConfirm() {
					$('#modalGenerar').modal();
					$('#modalGenerar').modal({
						keyboard : false
					});
					$('#modalGenerar').modal('show');
				}
			</script>
			<div class="modal fade" style="z-index: 9999;" id="modalGenerar" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">Generar Nóminas Periodo</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<p>Se han generado las nóminas para el periodo exitosamente.</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
						</div>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
